openapi: 3.1.0
info:
  title: Bugsnag Build Builds Collaborators API
  description: The Bugsnag Build API allows you to provide information about your application builds, releases, and deployments. By notifying Bugsnag when you deploy, you can track which releases introduced new errors, view error trends across releases, and identify regressions. The API accepts build metadata including version numbers, source control information, and release stages. It integrates with CI/CD pipelines to automate release tracking.
  version: '1.0'
  contact:
    name: Bugsnag Support
    url: https://docs.bugsnag.com/api/build/
  termsOfService: https://smartbear.com/terms-of-use/
servers:
- url: https://build.bugsnag.com
  description: Bugsnag Build Server
security: []
tags:
- name: Collaborators
  description: Manage collaborators within an organization or project. Collaborators are users who have access to view and manage Bugsnag data.
paths:
  /organizations/{organization_id}/collaborators:
    get:
      operationId: listOrganizationCollaborators
      summary: List organization collaborators
      description: Returns a list of collaborators for the specified organization. Each collaborator includes their user information and permissions.
      tags:
      - Collaborators
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collaborator'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: inviteOrganizationCollaborator
      summary: Invite a collaborator to an organization
      description: Invites a new collaborator to the specified organization by email address. The invited user will receive an email with instructions to join.
      tags:
      - Collaborators
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorInvite'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborator'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organizations/{organization_id}/collaborators/{collaborator_id}:
    get:
      operationId: getOrganizationCollaborator
      summary: Get an organization collaborator
      description: Returns the details of a specific collaborator within an organization, including their role and project access.
      tags:
      - Collaborators
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CollaboratorId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborator'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Collaborator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateOrganizationCollaborator
      summary: Update a collaborator
      description: Updates the permissions or role of an existing collaborator within an organization.
      tags:
      - Collaborators
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CollaboratorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaboratorUpdate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborator'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Collaborator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: removeOrganizationCollaborator
      summary: Remove a collaborator
      description: Removes a collaborator from the specified organization. The user will lose access to all projects within the organization.
      tags:
      - Collaborators
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/CollaboratorId'
      responses:
        '204':
          description: Collaborator removed successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Collaborator not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    CollaboratorInvite:
      type: object
      description: Request body for inviting a collaborator to an organization.
      required:
      - email
      properties:
        email:
          type: string
          format: email
          description: The email address of the person to invite.
        is_admin:
          type: boolean
          description: Whether to grant administrator privileges.
        project_ids:
          type: array
          items:
            type: string
          description: List of project IDs the collaborator should have access to.
    CollaboratorUpdate:
      type: object
      description: Request body for updating a collaborator's permissions.
      properties:
        is_admin:
          type: boolean
          description: Whether the collaborator should have administrator privileges.
        project_ids:
          type: array
          items:
            type: string
          description: Updated list of project IDs the collaborator should access.
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    Collaborator:
      type: object
      description: Represents a user who has been granted access to an organization or project in Bugsnag.
      properties:
        id:
          type: string
          description: The unique identifier of the collaborator.
        name:
          type: string
          description: The collaborator's name.
        email:
          type: string
          format: email
          description: The collaborator's email address.
        is_admin:
          type: boolean
          description: Whether the collaborator has administrator privileges.
        projects_url:
          type: string
          format: uri
          description: The API URL to list projects accessible to this collaborator.
        created_at:
          type: string
          format: date-time
          description: The date and time the collaborator was added.
        gravatar_url:
          type: string
          format: uri
          description: The Gravatar URL for the collaborator's profile image.
        two_factor_enabled:
          type: boolean
          description: Whether the collaborator has two-factor authentication enabled.
  parameters:
    CollaboratorId:
      name: collaborator_id
      in: path
      required: true
      description: The unique identifier of the collaborator.
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      description: The number of results to return per page. Used for pagination.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    OrganizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
externalDocs:
  description: Bugsnag Build API Documentation
  url: https://docs.bugsnag.com/api/build/
