openapi: 3.2.0
info:
  version: '1'
  title: BugSnag - Upload JavaScript API
  description: Upload symbol and mapping files to show full stacktraces in your BugSnag dashboard.
  contact:
    name: BugSnag Support
    email: support@bugsnag.com
servers:
- description: For organizations with projects on app.bugsnag.com
  url: https://upload.bugsnag.com
- description: For organizations with projects on app.bugsnag.smartbear.com
  url: https://upload.bugsnag.smartbear.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-upload-api/1
tags:
- name: JavaScript
  description: Source maps for minified JavaScript
paths:
  /react-native-source-map:
    post:
      summary: React Native source maps
      description: Upload JavaScript source map files to de-obfuscate bundled code in your React Native application and show human-readable stacktraces on your dashboard.
      operationId: uploadReactNativeSourcemap
      tags:
      - JavaScript
      requestBody:
        description: 'One or more of `appVersion`, `appBundleVersion`/`appVersionCode` and `codeBundleId` is required to uniquely identify the uploaded file and allow it to be matched to events from your application.

          '
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - apiKey
              - platform
              - sourceMap
              - bundle
              properties:
                bundle:
                  type: string
                  format: file
                  description: The bundled JavaScript file to upload as a [form-data](https://en.wikipedia.org/wiki/MIME#Form-Data) file upload.
                sourceMap:
                  type: string
                  format: file
                  description: The source map file to upload as a [form-data](https://en.wikipedia.org/wiki/MIME#Form-Data).
                apiKey:
                  type: string
                  description: The API key for the application's project in BugSnag.
                platform:
                  type: string
                  enum:
                  - android
                  - ios
                  description: 'The application platform: either `android` or `ios`.'
                appBundleVersion:
                  type: string
                  description: The bundle version (`CFBundleVersion`) of this build of the application (iOS only).
                appVersion:
                  type: string
                  description: The version of the application.
                appVersionCode:
                  type: string
                  description: The version code of this build of the application (Android only).
                codeBundleId:
                  type: string
                  description: 'A unique identifier for the JavaScript bundle.

                    If you use deployment tools to update your JavaScript bundle without changing the native version or build number, use this ID to uniquely identify the update.

                    This same ID must also be set in the configuration in your app, so that errors match the uploaded bundle.

                    '
                dev:
                  type: boolean
                  description: 'Indicates whether the application is a debug or release build. This value should mirror the value used when generating source map files (Default: `false`).'
                  default: false
                overwrite:
                  type: boolean
                  description: 'Whether to ignore and overwrite existing uploads with same identifier, rather than failing if a matching file exists. (Default: `true`)'
                  default: true
                projectRoot:
                  type: string
                  description: The root path of the project on the filesystem where the application was built. This is used to strip part of the path from the beginning of source file names in your dashboard.
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '400':
          description: A required parameter is missing or the file format is invalid
          content:
            text/plain:
              schema:
                type: string
              examples:
                A required parameter is missing:
                  value: 'missing required param: apiKey'
                A required file is missing:
                  value: 'missing required file: sourceMap'
                Invalid dev field:
                  value: invalid dev value
                Invalid platform field:
                  value: platform must be either 'ios' or 'android'
                Conflicting identifiers provided with codeBundleId:
                  value: <version type> cannot be provided if 'codeBundleId' set
                Conflicting identifiers provided for platform:
                  value: '''<version type>'' should only be specified for <platform> platforms'
                No identifiers provided:
                  value: at least one of 'appVersion', 'appVersionCode', 'appBundleVersion', or 'codeBundleId' must be provided
        '401':
          description: Invalid API key
          content:
            text/plain:
              schema:
                type: string
                example: invalid apiKey
        '409':
          description: Duplicate file already exists with the same identifier (use `overwrite` to replace)
          content:
            text/plain:
              schema:
                type: string
                example: duplicate source map file for <version details>
        '422':
          description: Nothing to upload (e.g. empty file or not uploaded correctly)
          content:
            text/plain:
              schema:
                type: string
                example: Received empty file
  /sourcemap:
    post:
      summary: JavaScript source maps
      description: 'Upload JavaScript source map files to de-obfuscate bundled code and show human-readable stacktraces on your dashboard.

        This is required if source maps are not publicly hosted.'
      operationId: uploadSourcemap
      tags:
      - JavaScript
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - apiKey
              - minifiedUrl
              - sourceMap
              properties:
                sourceMap:
                  type: string
                  format: file
                  description: The source map file to upload as a [form-data](https://en.wikipedia.org/wiki/MIME#Form-Data) file upload.
                apiKey:
                  type: string
                  description: The API key for the application's project in BugSnag.
                minifiedUrl:
                  type: string
                  description: The URL of the minified JavaScript file that the source map relates to. Asterisks can be used as a wildcard.
                appVersion:
                  type: string
                  description: The version of the application.
                minifiedFile:
                  type: string
                  format: file
                  description: The minified JavaScript file that the source map relates to.
                overwrite:
                  type: boolean
                  description: 'Whether to ignore and overwrite existing uploads with same identifier, rather than failing if a matching file exists. (Default: `true`)'
                  default: true
                projectRoot:
                  type: string
                  description: The root path of the project on the filesystem where the application was built. This is used to strip part of the path from the beginning of source file names in your dashboard.
                <source>:
                  type: string
                  description: 'The source of each source file referenced by the source map.

                    The field name `<source>` should be the URL used to access the file, and the value should be the source file contents.

                    Asterisks in the field name can be used as a wildcard.

                    '
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                type: string
                example: Accepted
        '400':
          description: A required parameter is missing or the file format is invalid
          content:
            text/plain:
              schema:
                type: string
              examples:
                A required parameter is missing:
                  value: 'missing required param: apiKey'
                Conflicting identifiers provided with codeBundleId:
                  value: only one of 'appVersion' and 'codeBundleId' can be provided"
        '401':
          description: Invalid API key
          content:
            text/plain:
              schema:
                type: string
                example: invalid apiKey
        '409':
          description: Duplicate file already exists with the same identifier (use `overwrite` to replace)
          content:
            text/plain:
              schema:
                type: string
                example: duplicate source map file for <URL> version <app version>
        '422':
          description: Nothing to upload (e.g. empty file or not uploaded correctly)
          content:
            text/plain:
              schema:
                type: string
                example: Received empty file
