openapi: 3.2.0
info:
  title: Bugsnag Projects API
  version: '1.0'
  description: 'Operations tagged Projects across 2 of this provider''s published API definitions: bugsnag-data-access-openapi.yml, bugsnag-projects-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
- description: For organizations with projects on app.bugsnag.smartbear.com
  url: https://api.bugsnag.smartbear.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
security:
- tokenAuth: []
tags:
- name: Projects
  description: Access and manage projects within an organization. Projects represent individual applications being monitored by Bugsnag.
paths:
  /organizations/{organization_id}/projects:
    get:
      operationId: listOrganizationProjects
      summary: List organization projects
      description: Returns a list of projects belonging to the specified organization. Results are paginated using the Link header.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/PerPage'
      - name: sort
        in: query
        description: The field to sort results by. Supported values include created_at and name.
        schema:
          type: string
          enum:
          - created_at
          - name
      - name: direction
        in: query
        description: The sort direction, either ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      operationId: createProject
      summary: Create a project
      description: Creates a new project within the specified organization. Returns the newly created project including its API key.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /projects/{project_id}:
    get:
      operationId: getProject
      summary: Get a project
      description: Returns the details of a specific project, including its name, API key, type, and configuration settings.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateProject
      summary: Update a project
      description: Updates the settings of an existing project, such as its name or notification configuration.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteProject
      summary: Delete a project
      description: Permanently deletes a project and all of its associated data, including errors, events, and collaborator assignments.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /projects/{project_id}/api_key:
    delete:
      operationId: regenerateProjectApiKey
      summary: Regenerate a project API key
      description: Regenerates the API key for a project. The old API key will immediately stop working and a new key will be generated.
      tags:
      - Projects
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /projects/{project_id}/upload_api_key:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    delete:
      tags:
      - Projects
      operationId: regenerateProjectUploadApiKey
      summary: Regenerate a Project's upload API key
      description: Generate a new upload API key for a project. This API key is used to authenticate file upload requests (source maps, proguard files, etc.). After regenerating a Project's upload API key, your upload scripts will need to be updated to use the new key. The previous key will not be supported. Note that a Project's upload API key is different from the notifier API key, Organization-level API key, and User-level Data Access API auth tokens.
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the project
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: The projects upload API key was successfully regenerated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectApiView'
        '403':
          $ref: '#/components/responses/insufficient_project_role'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/event_fields:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Projects
      summary: Create a custom Event Field
      operationId: createProjectEventField
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project
        example: 515fb9337c1074f6fd000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventFieldCreateRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventField'
        '400':
          description: The request was bad. Check the errors supplied in the response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - At custom event field limit
        '403':
          $ref: '#/components/responses/insufficient_project_role'
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/event_fields/{display_id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    patch:
      tags:
      - Projects
      summary: Update a custom Event Field
      operationId: updateProjectEventFieldByDisplayId
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project
        example: 515fb9337c1074f6fd000001
      - name: display_id
        in: path
        required: true
        schema:
          type: string
        description: human friendly ID for the EventField
        example: user.id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventFieldCreateRequest'
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventField'
        '403':
          $ref: '#/components/responses/insufficient_project_role'
        '404':
          description: Unsupported or unrecognized event field id, or project could not be found. Check the supplied `project_id` and supplied `display_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Event field not found
    delete:
      tags:
      - Projects
      summary: Delete a custom Event Field
      operationId: deleteProjectEventFieldByDisplayId
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project
        example: 515fb9337c1074f6fd000001
      - name: display_id
        in: path
        required: true
        schema:
          type: string
        description: human friendly ID for the EventField
        example: user.id
      responses:
        '204':
          description: The event field was successfully deleted.
        '403':
          $ref: '#/components/responses/insufficient_project_role'
        '404':
          description: Unsupported or unrecognized event field id, or project could not be found. Check the supplied `project_id` and supplied `display_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Event field not found
  /projects/{project_id}/release_groups:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectReleaseGroups
      summary: List Release Groups on a Project
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the project
        example: 515fb9337c1074f6fd000003
      - name: release_stage_name
        in: query
        required: true
        schema:
          type: string
        description: name of release stage to list release groups for
        example: production
      - name: top_only
        in: query
        required: false
        schema:
          type: boolean
        description: return only the top release groups (default false)
        example: true
      - name: visible_only
        in: query
        required: false
        schema:
          type: boolean
        description: return only visible release groups (default false)
        example: true
      - name: per_page
        in: query
        required: false
        schema:
          type: number
        description: how many results to return per page
        example: 30
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: value from the next relation in the Link response header to obtain the next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseGroup'
        '404':
          $ref: '#/components/responses/project_not_found'
  /release_groups/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: getReleaseGroup
      summary: Retrieve a Release Group
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of release group to get
        example: 5cf9a562d1befa0021e6a600
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseGroup'
        '404':
          description: Release group could not be found. Check the supplied `id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Release group not found
    patch:
      tags:
      - Projects
      operationId: updateReleaseGroup
      summary: Update a Release Group
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of release group to update
        example: 5cf9a562d1befa0021e6a600
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - visible
              properties:
                visible:
                  type: boolean
                  description: the updated visibility
                  example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseGroup'
        '404':
          description: Release group could not be found. Check the supplied `id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Release group not found
  /release_groups/{release_group_id}/releases:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Releases on a Release Group
      operationId: listReleaseGroupReleases
      parameters:
      - name: release_group_id
        in: path
        required: true
        schema:
          type: string
        description: ID of release group to list releases for
        example: 5d24fd08d1befa004a0e83e7
      - name: per_page
        in: query
        required: false
        schema:
          type: number
        description: how many results to return per page
        example: 30
      - name: page_token
        in: query
        required: false
        schema:
          type: string
        description: value from the next relation in the Link response header to obtain the next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReleaseApiView'
        '404':
          description: Release group could not be found. Check the supplied `release_group_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Release group not found
  /projects/{project_id}/event_data_requests:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Projects
      summary: Create an event data request
      operationId: createProjectEventDataRequest
      description: 'Request event data for the given project. This request will start an asynchronous job to collate all event data present at the time of the request and return a URL where you can download the data when the job is complete. These endpoints are intended for bulk download of events. If you want to query events, use the Events APIs instead.

        User data will not be included in the bulk download unless the request''s `report_type` attribute is set to `gdpr`. With the `report_type` set to `gdpr` Bugsnag will only return user-related metadata.'
      parameters:
      - name: project_id
        in: path
        description: ID of the project to request events for
        required: true
        schema:
          type: string
        example: 5bf5b201468ce95aa753a35f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_type:
                  $ref: '#/components/schemas/EventDataRequestReportType'
                  description: the type of report to request; omit this if you want all event fields
                filters:
                  $ref: '#/components/schemas/Filters'
                  description: 'The filters used to determine which events will be included in the report. See [Filtering](https://developer.smartbear.com/bugsnag/docs/data-access-filtering) for details.

                    '
                filter_groups:
                  $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
                filter_groups_join:
                  $ref: '#/components/schemas/FilterGroupsJoinOperator'
              required:
              - filters
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataRequestApiView'
  /projects/{project_id}/event_data_requests/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Check the status of an event data request
      operationId: getProjectEventDataRequestById
      parameters:
      - name: project_id
        in: path
        description: ID of the project of the event data request
        required: true
        schema:
          type: string
        example: 5bf5b201468ce95aa753a35f
      - name: id
        in: path
        description: ID of the event data request
        required: true
        schema:
          type: string
        example: 5bf5bde1468ce95b0a6724e8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataRequestApiView'
  /projects/{project_id}/event_data_deletions:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Projects
      summary: Create an event deletion request
      operationId: createProjectEventDataDeletion
      description: Creates a request to asynchronously delete events for the project. Note that filters such as `user.email` and `user.name` use substring matching, so using the `user.id` filter will be more appropriate for deleting events for 1 specific user.
      parameters:
      - name: project_id
        in: path
        description: ID of the project to delete events from
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skip_confirmation:
                  type: boolean
                  description: whether to skip requiring another request to confirm the deletion
                  default: false
                filters:
                  $ref: '#/components/schemas/Filters'
                  description: 'The filters used to determine which events will be deleted. See [Filtering](https://developer.smartbear.comhttps://developer.smartbear.com/bugsnag/docs/data-access-filtering) for details. Note that filters with an empty string value and filters that don''t apply to a project (e.g. using a custom filter from one project on another project that doesn''t have that custom filter) will be skipped. Before proceeding with an event data deletion request, it''s recommended to verify the [project''s event fields](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Projects/listProjectEventFields) and test your filters using the [List the Events on an Error](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Errors/listEventsOnError) or [Create an event data request](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Projects/createProjectEventDataRequest) API.

                    '
                filter_groups:
                  $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
                filter_groups_join:
                  $ref: '#/components/schemas/FilterGroupsJoinOperator'
              required:
              - filters
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /projects/{project_id}/event_data_deletions/{id}/confirm:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Projects
      summary: Confirm an event deletion request
      operationId: confirmProjectEventDataDeletion
      parameters:
      - name: project_id
        in: path
        description: ID of the project of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      - name: id
        in: path
        description: ID of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c5ee468ce95db8170d15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /projects/{project_id}/event_data_deletions/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Check the status of an event deletion request
      operationId: getProjectEventDataDeletionById
      parameters:
      - name: project_id
        in: path
        description: ID of the project of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      - name: id
        in: path
        description: ID of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c5ee468ce95db8170d15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /projects/{project_id}/feature_flags:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Feature Flags on a Project
      operationId: listProjectFeatureFlags
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: release_stage_name
        in: query
        required: true
        schema:
          type: string
        description: Release stage name to get the feature flags for.
        example: production
      - name: starred_at_top
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to return starred Feature Flags at the top of the Feature Flags list.
        example: false
      - name: include_variant_summary
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to include a summary of the Variants for each Feature Flag.
        example: false
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search for feature flags with a name matching this query parameter. Supports case-insensitive substring matching.
        example: name
      - name: first_seen
        in: query
        required: false
        schema:
          type: string
          default: all
          enum:
          - all
          - this_week
          - today
        description: Filter to Feature Flags that were first seen in the release stage within the specified time frame.
      - name: include_inactive
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to include inactive Feature Flags.
        example: false
      - name: sort
        in: query
        required: false
        schema:
          type: string
          default: name
          enum:
          - name
          - first_seen
        description: Which field to sort on.
      - name: direction
        in: query
        required: false
        schema:
          type: string
          default: asc
          enum:
          - asc
          - desc
        description: Which direction to sort the results by.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: How many results to return per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlag'
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/feature_flag_summaries:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Feature Flag Summaries for a Project
      operationId: listProjectFeatureFlagSummaries
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search for feature flags with a name matching this query parameter. Supports case-insensitive substring matching.
        example: name
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: How many results to return per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlagSummary'
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/feature_flags/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Get a Feature Flag
      operationId: getProjectFeatureFlag
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the FeatureFlag.
        example: fb59337c511074f6fd000001
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: release_stage_name
        in: query
        required: true
        schema:
          type: string
        description: Release stage name to get the feature flags for.
        example: production
      - name: include_variant_summary
        in: query
        required: false
        schema:
          type: boolean
          default: false
        description: Whether to include a summary of the Variants for the Feature Flag.
        example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlag'
        '404':
          description: '- Project could not be found. Check the supplied `project_id`.

            - Feature flag could not be found. Check the supplied `id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Feature flag not found
    delete:
      tags:
      - Projects
      summary: Delete a Feature Flag
      operationId: deleteProjectFeatureFlag
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Feature Flag to unstar.
        example: fb59337c511074f6fd000002
      responses:
        '204':
          description: No Content
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/feature_flags/{id}/error_overview:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Get a Feature Flag's Error Overview
      operationId: getProjectFeatureFlagErrorOverview
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the FeatureFlag.
        example: fb59337c511074f6fd000001
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: release_stage_name
        in: query
        required: true
        schema:
          type: string
        description: Release stage name to get the feature flags for.
        example: production
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagErrorSummary'
        '404':
          description: '- Project could not be found. Check the supplied `project_id`.

            - Feature flag could not be found. Check the supplied `id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Feature flag not found
  /projects/{project_id}/feature_flags/{id}/variants/error_overview:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Get a Feature Flag Variant's Error Overview
      operationId: getProjectFeatureFlagVariantsErrorOverview
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the FeatureFlag.
        example: fb59337c511074f6fd000001
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: variant_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: IDs for the FeatureFlag variants.
      - name: release_stage_name
        in: query
        required: true
        schema:
          type: string
        description: Release stage name to get the feature flags for.
        example: production
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlagVariantErrorSummary'
        '404':
          description: '- Project could not be found. Check the supplied `project_id`.

            - Feature flag could not be found. Check the supplied `id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Feature flag not found
  /projects/{project_id}/feature_flags/{id}/variants:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Variants on a Feature Flag by ID
      operationId: getProjectFeatureFlagVariants
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the feature flag.
        example: fb59337c511074f6fd000001
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the project.
        example: fb59337c511074f6fd000001
      - name: release_stage_name
        in: query
        required: false
        schema:
          type: string
        description: Release stage name to get the variants for.
        example: production
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search for feature flags with a name matching this query parameter. Supports case-insensitive substring matching.
        example: name
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: How many results to return per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlagVariant'
        '404':
          description: '- Project could not be found. Check the supplied `project_id`.

            - Feature flag could not be found. Check the supplied `id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
                - Feature flag not found
  /projects/{project_id}/feature_flags/by_name/{name}/variants:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Variants on a Feature Flag by name
      operationId: getProjectFeatureFlagVariantsByName
      parameters:
      - name: name
        in: path
        required: true
        schema:
          type: string
        description: Name of the feature flag, case-sensitive and with no substring matching.
        example: feature_flag_name
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the project.
        example: fb59337c511074f6fd000001
      - name: release_stage_name
        in: query
        required: false
        schema:
          type: string
        description: Release stage name to get the variants for.
        example: production
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search for feature flag variants with a name matching this query parameter. Supports case-insensitive substring matching.
        example: name
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: How many results to return per page.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlagVariant'
        '404':
          description: '- No feature flag was found with the supplied `name`.

            - Project could not be found. Check the supplied `project_id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Feature flag not found
                - Project not found
  /user/projects/{project_id}/starred_feature_flags:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Projects
      summary: Star a Feature Flag
      operationId: createUserStarredFeatureFlag
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                feature_flag_id:
                  type: string
                  description: ID of the Feature Flag to star.
                  example: fb59337c511074f6fd000002
              required:
              - feature_flag_id
      responses:
        '204':
          description: No Content
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /user/projects/{project_id}/starred_feature_flags/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    delete:
      tags:
      - Projects
      summary: Unstar a Feature Flag
      operationId: deleteUserProjectStarredFeatureFlag
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project.
        example: fb59337c511074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Feature Flag to unstar.
        example: fb59337c511074f6fd000002
      responses:
        '204':
          description: No Content
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/error_assignment_rules:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    put:
      tags:
      - Projects
      summary: Replace the ErrorAssignmentRules on a project
      operationId: replaceProjectErrorAssignmentRules
      description: Replaces all the ErrorAssignmentRules on the project with the rules supplied rules. If no rules are supplied, all rules on the project are deleted.
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Project to which the ErrorAssignmentRule belongs.
        example: 6368f07a518fa064ce036bdb
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorAssignmentRulesReplaceRequest'
      responses:
        '204':
          description: OK
        '400':
          description: ErrorAssignmentRules are invalid. Request structure may be incorrect or assignees may not have access to the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Assignees do not have project access
        '403':
          description: '- You do not have permission to perform this operation. You must be an admin or owner of the project.

            - The ''error-assignment-rules'' feature is not enabled for your organization

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - The 'error-assignment-rules' feature is not enabled for your organization
                - Insufficient Project Role
        '404':
          description: Project cannot be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/span_groups:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectSpanGroups
      summary: List Span Groups on a Project
      description: If there are no Span Groups, it returns an empty array.
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Groups belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: sort
        in: query
        description: The field to sort the span groups by
        required: false
        schema:
          type: string
          enum:
          - total_spans
          - last_seen
          - name
          - display_name
          - network_http_method
          - rendering_slow_frame_span_percentage
          - rendering_frozen_frame_span_percentage
          - duration_p50
          - duration_p75
          - duration_p90
          - duration_p95
          - duration_p99
          - system_metrics_cpu_total_mean_p50
          - system_metrics_cpu_total_mean_p75
          - system_metrics_cpu_total_mean_p90
          - system_metrics_cpu_total_mean_p95
          - system_metrics_cpu_total_mean_p99
          - system_metrics_memory_device_mean_p50
          - system_metrics_memory_device_mean_p75
          - system_metrics_memory_device_mean_p90
          - system_metrics_memory_device_mean_p95
          - system_metrics_memory_device_mean_p99
          - rendering_metrics_fps_mean_p50
          - rendering_metrics_fps_mean_p75
          - rendering_metrics_fps_mean_p90
          - rendering_metrics_fps_mean_p95
          - rendering_metrics_fps_mean_p99
          - http_response_4xx_percentage
          - http_response_5xx_percentage
        example: total_spans
      - name: direction
        in: query
        description: The direction to sort the span groups by
        required: false
        schema:
          type: string
          enum:
          - desc
          - asc
        example: desc
      - name: per_page
        in: query
        description: the number of results per page
        required: false
        schema:
          type: integer
        example: 1
      - name: offset
        in: query
        description: the offset for the next page of results
        required: false
        schema:
          type: integer
        example: 10
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      - name: starred_only
        in: query
        description: Whether to only return Span Groups the requesting user has starred.
        required: false
        schema:
          type: boolean
        example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpanGroup'
        '400':
          description: Improperly formatted filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/span_groups/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: getProjectSpanGroup
      summary: Show a Span Group
      description: If there are no spans in the requested group, it will show a span group with an empty `statistics` attribute.
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Group belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpanGroup'
        '400':
          description: '- The format of the Span Group ID was invalid. Check the supplied `id`.

            - Improperly formatted filters.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - invalid span group id
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
    patch:
      tags:
      - Projects
      operationId: updateProjectSpanGroup
      summary: Update Span Group
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Group belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_starred:
                  type: boolean
                  description: whether or not the Span Group is starred by the user.
                  example: true
      responses:
        '204':
          description: No Content
        '400':
          description: The format of the Span Group ID was invalid. Check the supplied `id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - invalid span group id
        '404':
          $ref: '#/components/responses/project_not_found'
        '422':
          description: User has reached their limit for starring Span Groups in this project & category.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Starred span groups limit reached
  /projects/{project_id}/span_group_summaries:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectSpanGroupSummaries
      summary: List Span Group Summaries for a Project
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Groups belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: per_page
        in: query
        description: the number of results per page
        required: false
        schema:
          type: integer
        example: 1
      - name: offset
        in: query
        description: the offset for the next page of results
        required: false
        schema:
          type: integer
        example: 10
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpanGroupSummary'
        '400':
          description: Improperly formatted request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/span_groups/{id}/timeline:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: getProjectSpanGroupTimeline
      summary: Get a Span Group's timeline
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Group belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpanGroupTimelinePoint'
        '400':
          description: '- The format of the Span Group ID was invalid. Check the supplied `id`.

            - Improperly formatted filters.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - invalid span group id
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/span_groups/{id}/distribution:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: getProjectSpanGroupDistribution
      summary: Get a Span Group's distribution
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Span Group belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpanGroupDistributionPoint'
        '400':
          description: '- The format of the Span Group ID was invalid. Check the supplied `id`.

            - Improperly formatted filters.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - invalid span group id
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/starred_span_groups:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectStarredSpanGroups
      summary: List the starred Span Group descriptions
      description: List the names and properties of the requesting user's starred Span Groups for a project and optionally performance categories.
      parameters:
      - name: project_id
        in: path
        description: The ID of the project to which the Span Groups belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: categories
        in: query
        description: The performance categories of the Span Groups.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - app_start
            - view_load
            - network
            - page_load
            - route_change
            - full_page_load
            - navigation
            - custom
      - name: per_page
        in: query
        description: the number of results per page
        required: false
        schema:
          type: integer
        example: 1
      - name: offset
        in: query
        description: the offset for the next page of results
        required: false
        schema:
          type: integer
        example: 10
      responses:
        '200':
          description: If there are no starred Span Groups the response will be an empty array.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpanGroupDescription'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/span_groups/{id}/performance_targets:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectSpanGroupPerformanceTargets
      summary: List Performance Targets for a Span Group by ID
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the span group belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerformanceTarget'
        '400':
          description: Invalid argument supplied. Response should contain a description of the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Invalid argument
        '403':
          description: Permission denied to view the performance targets. Response should contain a description of the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Insufficient project role
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/span_group_categories/{category}/span_groups/{name}/spans:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: getSpansByCategoryAndName
      summary: Get Spans for a Span Group
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the spans belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: category
        in: path
        description: The name of the Span Group Category.
        required: true
        schema:
          type: string
        example: app_start
      - name: name
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) name of the Span Group.
        required: true
        schema:
          type: string
        example: AppStart%2FCold
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Span'
        '400':
          description: '- No performance category with this name. Check the supplied `category`.

            - Improperly formatted filters.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Category is not included in the list
                    - 'Invalid Filter: invalid filter key: <key>'
  /projects/{project_id}/span_groups/{id}/spans:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listSpansBySpanGroupId
      summary: List Spans for a Span Group by ID
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the spans belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Span Group.
        required: true
        schema:
          type: string
        example: 1.app_start.AppStart%2FCold
      - name: filters
        in: query
        description: The current filters that are being applied.
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
      - name: sort
        in: query
        description: The field to sort the results by.
        required: false
        schema:
          type: string
          enum:
          - duration
          - timestamp
          - full_page_load_lcp
          - full_page_load_fid
          - full_page_load_cls
          - full_page_load_ttfb
          - full_page_load_fcp
          - rendering_slow_frame_percentage
          - rendering_frozen_frame_percentage
          - system_metrics_cpu_total_mean
          - system_metrics_memory_device_mean
          - rendering_metrics_fps_mean
          - rendering_metrics_fps_minimum
          - rendering_metrics_fps_maximum
          - http_response_code
      - name: direction
        in: query
        description: The direction to sort the results by.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: per_page
        in: query
        description: The number of results to return per page. Defaults to 20.
        required: false
        schema:
          type: integer
        example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Span'
        '400':
          description: '- The format of the Span Group ID was invalid. Check the supplied `id`.

            - Improperly formatted filters.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - invalid span group id
                    - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/traces/{trace_id}/spans:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listSpansByTraceId
      summary: List Spans for a Trace
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the spans belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: trace_id
        in: path
        description: The ID of the Trace to which the spans belong.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: from
        in: query
        description: Beginning of window to return spans from.
        required: true
        schema:
          type: string
        example: '2023-04-11T13:14:25.123Z'
      - name: to
        in: query
        description: End of window to return spans from.
        required: true
        schema:
          type: string
        example: '2023-04-11T13:14:26.123Z'
      - name: target_span_id
        in: query
        description: The ID of a Span within the Trace to focus on. If provided the target Span and its direct children will be returned ahead of other Spans in the Trace.
        required: false
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      - name: per_page
        in: query
        description: The number of results to return per page. Defaults to 20.
        required: false
        schema:
          type: integer
        example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Span'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/page_load_span_groups:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List Page Load Span Groups
      operationId: listProjectPageLoadSpanGroups
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Project to which the Page Load Span Groups belong.
        example: 6368f07a518fa064ce036bdb
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - name
          - total_spans
          - full_page_load_total_spans
          - route_change_load_total_spans
          - cls
          - ttfb
          - fcp
          - route_change_total_spans
          - lcp
          - fid
          - full_page_load_duration_p50
          - full_page_load_duration_p75
          - full_page_load_duration_p90
          - full_page_load_duration_p95
          - full_page_load_duration_p99
          - route_change_duration_p50
          - route_change_duration_p75
          - route_change_duration_p90
          - route_change_duration_p95
          - route_change_duration_p99
        description: The field to sort the page load span groups by
        example: total_spans
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - desc
          - asc
        description: The direction to sort the page load span groups by
        example: desc
      - name: per_page
        in: query
        required: false
        schema:
          type: number
        description: the number of results per page
        example: 1
      - name: offset
        in: query
        required: false
        schema:
          type: number
        description: the offset for the next page of results
        example: 10
      - name: filters
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
        description: The current filters that are being applied.
      - name: starred_only
        in: query
        required: false
        schema:
          type: boolean
        description: Whether to only return Page Load Span Groups the requesting user has starred.
        example: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageLoadSpanGroup'
        '400':
          description: Improperly formatted filters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - 'Invalid Filter: invalid filter key: <key>'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/page_load_span_groups/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Show a Page Load Span Group by ID
      operationId: getProjectPageLoadSpanGroupById
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Project to which the Page Load Span Group belongs.
        example: 6368f07a518fa064ce036bdb
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/Percent-encoding) ID of the Page Load Span Group.
        example: 1.page_load.AppStart%2FCold
      - name: filters
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceFilter'
        description: The current filters that are being applied.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageLoadSpanGroup'
        '400':
          description: '- Improperly formatted filters.

            - The format of the Span Group ID was invalid. Check the supplied `id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - 'Invalid Filter: invalid filter key: <key>'
                - invalid span group id
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/trace_fields:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      operationId: listProjectTraceFields
      summary: List the Trace Fields on a project
      description: Trace fields are the fields used for filtering spans that are aggregated in span groups on a project. They include a name identifier and filter options for each field. See Filtering for more information.
      parameters:
      - name: project_id
        in: path
        description: The ID of the Project to which the Trace Field belongs.
        required: true
        schema:
          type: string
        example: 6368f07a518fa064ce036bdb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TraceField'
        '404':
          $ref: '#/components/responses/project_not_found'
  /projects/{project_id}/network_endpoint_grouping:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: List a Project's Network Grouping Ruleset
      operationId: getProjectNetworkGroupingRuleset
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Project to retrieve the endpoints for
        example: 6368f07a518fa064ce036bdb
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectNetworkGroupingRuleset'
        '403':
          description: Organization does not have access to the performance feature.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization requires the performance network grouping feature
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
    put:
      tags:
      - Projects
      summary: Update a Project's Network Grouping Ruleset
      operationId: updateProjectNetworkGroupingRuleset
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Project to retrieve the endpoints for
        example: 6368f07a518fa064ce036bdb
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NetworkGroupingRulesetRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectNetworkGroupingRuleset'
        '400':
          description: '- Supplied endpoints must be an array of strings

            - A validation issue occurred with at least one supplied endpoint

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Endpoints must contain an array of values
                - 'Bad request: explanatory message'
        '403':
          description: '- Organization does not have access to the performance feature.

            - You do not have permission to perform this operation. You must be an admin or owner of the project.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization requires the performance network grouping feature
                - Insufficient Project Role for performing requested action
        '404':
          description: Project could not be found. Check the supplied `project_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
  /projects/{project_id}/performance_overview:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Projects
      summary: Get Performance Score Overview for Project
      operationId: getProjectPerformanceScoreOverview
      description: Retrieve the performance score for a specific project.
      parameters:
      - name: project_id
        in: path
        required: true
        description: The ID of the project to retrieve the performance score for.
        schema:
          type: string
      - name: release_stage_name
        in: query
        required: false
        description: The name of the release stage to filter the performance score.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPerformanceScoreOverview'
        '400':
          description: Invalid argument supplied. Response should contain a description of the issue.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Invalid argument
        '403':
          description: Insufficient organization feature
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - Organization must have the performance-scores feature enabled
        '404':
          $ref: '#/components/responses/project_not_found'
components:
  parameters:
    OrganizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      description: The number of results to return per page. Used for pagination.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the project.
      schema:
        type: string
  schemas:
    ProjectUpdate:
      type: object
      description: Request body for updating a project.
      properties:
        name:
          type: string
          description: The new name for the project.
        global_grouping:
          type: array
          items:
            type: string
          description: Updated global grouping rules for errors.
        location_grouping:
          type: array
          items:
            type: string
          description: Updated location-based grouping rules.
        discarded_app_versions:
          type: array
          items:
            type: string
          description: Application versions for which errors should be discarded.
        discarded_errors:
          type: array
          items:
            type: string
          description: Error classes that should be discarded.
    ProjectCreate:
      type: object
      description: Request body for creating a new project.
      required:
      - name
      - type
      properties:
        name:
          type: string
          description: The name of the project.
        type:
          type: string
          description: The platform type of the project (e.g., rails, js, android).
    Project:
      type: object
[...]
