openapi: 3.2.0
info:
  title: Bugsnag Data Access Event Fields API
  description: The Bugsnag Data Access API provides programmatic access to information about your organization, projects, errors, events, and more. It allows developers to build custom integrations and dashboards using their Bugsnag data. The REST API uses JSON and requires authentication via a personal auth token sent in the Authorization header. It supports querying error trends, project configurations, collaborators, and release information.
  version: '2.0'
  contact:
    name: Bugsnag Support
    url: https://docs.bugsnag.com/api/data-access/
  termsOfService: https://smartbear.com/terms-of-use/
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
security:
- tokenAuth: []
tags:
- name: EventFields
  description: Access event field definitions for projects. Event fields describe the available data dimensions for filtering and searching events.
paths:
  /projects/{project_id}/event_fields:
    get:
      operationId: listEventFields
      summary: List event fields
      description: Returns a list of event field definitions for the specified project. Event fields describe the available data dimensions that can be used for filtering and searching events.
      tags:
      - EventFields
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventField'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    EventField:
      type: object
      description: Represents a data dimension available for filtering events.
      properties:
        display_id:
          type: string
          description: The display identifier for the event field.
        display_name:
          type: string
          description: The human-readable name for the event field.
        filter:
          type: object
          description: Filter configuration for the event field.
          properties:
            type:
              type: string
              description: The filter type (e.g., eq, contains).
            values:
              type: array
              items:
                type: string
              description: The available filter values.
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the project.
      schema:
        type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Personal auth token sent as "token YOUR-AUTH-TOKEN". The token can be found in the Bugsnag account settings under the API section.
externalDocs:
  description: Bugsnag Data Access API Documentation
  url: https://docs.bugsnag.com/api/data-access/
