openapi: 3.2.0
info:
  version: '1'
  title: BugSnag - Upload Unity API
  description: Upload symbol and mapping files to show full stacktraces in your BugSnag dashboard.
  contact:
    name: BugSnag Support
    email: support@bugsnag.com
servers:
- description: For organizations with projects on app.bugsnag.com
  url: https://upload.bugsnag.com
- description: For organizations with projects on app.bugsnag.smartbear.com
  url: https://upload.bugsnag.smartbear.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-upload-api/1
tags:
- name: Unity
  description: IL2CPP mapping files for Unity
paths:
  /unity-line-mappings:
    post:
      summary: Unity IL2CPP line number mappings
      description: Upload the generated line mappings file (`LineNumberMappings.json`) for Unity apps built with IL2CPP to allow C# line numbers to be displayed for iOS and Android apps.
      operationId: uploadUnityLineMappings
      tags:
      - Unity
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - mappingFile
              - apiKey
              properties:
                mappingFile:
                  type: string
                  format: file
                  description: 'The line number mappings to upload as a [form-data](https://en.wikipedia.org/wiki/MIME#Form-Data) file upload.


                    Can be either:

                    A single `LineNumberMappings.json` file (generated by the IL2CPP tool when using the `--emit-source-mapping` option); or

                    a gzip compressed version of the file.

                    '
                apiKey:
                  type: string
                  description: The API key for the application's project in BugSnag.
                dsymUUID:
                  type: string
                  description: The UUIDs of the dSYMs for the builds that this mapping file applies to. Multiple UUIDs can be provided by repeating the form field. At least one of dsymUUID or soBuildId must be provided.
                soBuildId:
                  type: string
                  description: The build ID of the shared object file (.so) for the builds that this mapping file applies to. Multiple build IDs can be provided by repeating the form field. At least one of dsymUUID or soBuildId must be provided.
                appId:
                  type: string
                  description: A unique application ID, usually the package name, of the application (application ID on Android or bundle ID on iOS).
                appVersion:
                  type: string
                  description: The version of the application.
                appVersionCode:
                  type: string
                  description: The [versionCode](https://developer.android.com/studio/publish/versioning) for the application. (Android only)
                appBundleVersion:
                  type: string
                  description: The [appBundleVersion](https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundleversion) for the application. (iOS only)
                projectRoot:
                  type: string
                  description: The root path of the project on the filesystem where the source files lie. This will be stripped off from the file name in the displayed stacktraces and improves error grouping.
                overwrite:
                  type: boolean
                  description: 'If `true`, and one or more of the provided `dsymUUID` or `soBuildId` are already associated with a different line mappings file, they will be associated with this line mappings file instead.


                    If `false`, and one or more of the provided `dsymUUID` or `soBuildId` are already associated with a different line mappings file, the request will be rejected with a `409` error.


                    Note: if the same line mappings file has already been uploaded, any of the provided `dsymUUID` or `soBuildId` that are not already associated will be associated with the line mappings file, regardless of the `overwrite` flag.

                    '
                  default: false
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '400':
          description: A required parameter is missing or the file format is invalid
          content:
            text/plain:
              schema:
                type: string
              examples:
                Missing required file:
                  value: 'missing required file: mappingFile'
                Missing required param:
                  value: 'missing required param: apiKey'
                Invalid file format:
                  value: Received invalid Unity mappings file
                Invalid dSYM UUID:
                  value: 'invalid dsymUUID format: <id>'
                Invalid SO build ID:
                  value: 'invalid soBuildId format: <id>'
                Missing dSYM UUID and SO build ID:
                  value: 'missing required param: at least one of dsymUUID or soBuildId must be provided'
        '401':
          description: Indicates that the provided apiKey doesn’t correspond to a BugSnag project
          content:
            text/plain:
              schema:
                type: string
                example: invalid apiKey
        '409':
          description: One or more of the provided `dsymUUID`s or `soBuildId`s are already associated with a different line mappings file (use `overwrite` to replace)
          content:
            text/plain:
              schema:
                type: string
                example: Unity line mapping already exists for one or more of the supplied dSYM or shared object IDs
        '422':
          description: Indicates that the uploaded file is empty
          content:
            text/plain:
              schema:
                type: string
                example: Received empty file
