openapi: 3.2.0
info:
  title: Bugsnag Data Access Stability API
  description: The Bugsnag Data Access API provides programmatic access to information about your organization, projects, errors, events, and more. It allows developers to build custom integrations and dashboards using their Bugsnag data. The REST API uses JSON and requires authentication via a personal auth token sent in the Authorization header. It supports querying error trends, project configurations, collaborators, and release information.
  version: '2.0'
  contact:
    name: Bugsnag Support
    url: https://docs.bugsnag.com/api/data-access/
  termsOfService: https://smartbear.com/terms-of-use/
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
security:
- tokenAuth: []
tags:
- name: Stability
  description: Access stability metrics for projects. Stability data provides crash-free session and user percentages across releases.
paths:
  /projects/{project_id}/stability_trend:
    get:
      operationId: getProjectStabilityTrend
      summary: Get project stability trend
      description: Returns the stability trend for a project over time, including crash-free session percentages and crash-free user percentages across releases.
      tags:
      - Stability
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: release_stage
        in: query
        description: Filter the stability trend by a specific release stage.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StabilityTrend'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    StabilityTrend:
      type: object
      description: Represents stability metrics for a project over time.
      properties:
        timeline_points:
          type: array
          description: The time-series stability data points.
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: The date for this data point.
              crash_free_sessions:
                type: number
                format: float
                description: The percentage of sessions without crashes.
              crash_free_users:
                type: number
                format: float
                description: The percentage of users without crashes.
              total_sessions:
                type: integer
                description: The total number of sessions.
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the project.
      schema:
        type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Personal auth token sent as "token YOUR-AUTH-TOKEN". The token can be found in the Bugsnag account settings under the API section.
externalDocs:
  description: Bugsnag Data Access API Documentation
  url: https://docs.bugsnag.com/api/data-access/
