openapi: 3.2.0
info:
  title: Bugsnag Errors API
  version: '1.0'
  description: 'Operations tagged Errors across 2 of this provider''s published API definitions: bugsnag-data-access-openapi.yml, bugsnag-data-access-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
- description: For organizations with projects on app.bugsnag.smartbear.com
  url: https://api.bugsnag.smartbear.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
security:
- tokenAuth: []
tags:
- name: Errors
  description: Access and manage errors within projects. Errors represent groups of similar events that have been detected by Bugsnag.
paths:
  /projects/{project_id}/errors:
    get:
      operationId: listProjectErrors
      summary: List project errors
      description: Returns a list of errors for the specified project. Errors can be filtered by status, severity, and other criteria. Results are paginated using the Link header.
      tags:
      - Errors
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/PerPage'
      - name: sort
        in: query
        description: The field to sort results by. Supported values include last_seen, first_seen, users, events, and unsorted.
        schema:
          type: string
          enum:
          - last_seen
          - first_seen
          - users
          - events
          - unsorted
      - name: direction
        in: query
        description: The sort direction, either ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        description: Filter errors by their status.
        schema:
          type: string
          enum:
          - open
          - fixed
          - snoozed
          - ignored
      - name: severity
        in: query
        description: Filter errors by their severity level.
        schema:
          type: string
          enum:
          - error
          - warning
          - info
      - name: release_stage
        in: query
        description: Filter errors by the release stage in which they occurred.
        schema:
          type: string
      - name: q
        in: query
        description: A full-text search query to filter errors by their error class, message, or context.
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ErrorItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Errors
      summary: Bulk Update Errors
      operationId: bulkUpdateErrors
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000003
      - name: error_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        example:
        - 515fb9337c1074f6fd000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorUpdateRequest'
      responses:
        '200':
          description: Bulk operation result for errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    enum:
                    - overridden_severity
                    - assign
                    - create_issue
                    - link_issue
                    - unlink_issue
                    - open
                    - snooze
                    - fix
                    - ignore
                    - delete
                    - discard
                  515fb9337c1074f6fd000001:
                    type: object
                    properties:
                      assigned_collaborator_id:
                        type: string
                      assigned_team_id:
                        type: string
                      linked_issues:
                        type: array
                        items:
                          $ref: '#/components/schemas/ErrorCreatedIssue'
                      created_issue:
                        $ref: '#/components/schemas/ErrorCreatedIssue'
                      reopen_rules:
                        $ref: '#/components/schemas/ErrorReopenRules'
                      status:
                        $ref: '#/components/schemas/ErrorStatus'
                      discarded:
                        type: boolean
        '404':
          description: Project or User could not be found. Check the supplied project_id or assigned_collaborator_id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Project not found
                  - User not found
    delete:
      tags:
      - Errors
      summary: Delete all Errors in a Project
      operationId: deleteAllErrorsInProject
      description: Deletes all Error and Event data in a project. Use with caution. This action cannot be reversed.
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000003
      responses:
        '204':
          description: All errors deleted successfully.
        '404':
          description: Project could not be found. Check the supplied project_id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Project not found
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /projects/{project_id}/errors/{error_id}:
    get:
      operationId: getError
      summary: Get an error
      description: Returns the details of a specific error, including its error class, message, severity, status, event count, and user count.
      tags:
      - Errors
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ErrorId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Error not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      operationId: updateError
      summary: Update an error
      description: Updates the status or severity of an error. Use this to resolve, snooze, ignore, or reopen errors.
      tags:
      - Errors
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ErrorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorUpdate'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorItem'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Error not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteError
      summary: Delete an error
      description: Permanently deletes an error and all of its associated events.
      tags:
      - Errors
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ErrorId'
      responses:
        '204':
          description: Error deleted successfully
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Error not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /projects/{project_id}/events/{event_id}:
    delete:
      tags:
      - Errors
      summary: Delete an Event
      operationId: deleteEventById
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 337515fb9c1074f6fd000001
      - name: event_id
        in: path
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000009
      responses:
        '204':
          description: ''
        '404':
          description: Event could not be found. Check the supplied `event_id`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Event not found
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /errors/{error_id}/latest_event:
    get:
      tags:
      - Errors
      summary: View the latest Event on an Error
      operationId: viewLatestEventOnError
      parameters:
      - name: error_id
        in: path
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: Latest event details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventApiView'
        '404':
          description: Error could not be found. Check the supplied error_id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Error not found
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/events:
    get:
      tags:
      - Errors
      summary: List the Events on a Project
      operationId: listEventsOnProject
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000003
      - name: base
        in: query
        required: false
        schema:
          type: string
          format: date-time
        example: '2017-04-12T22:50:04Z'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - timestamp
          default: timestamp
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
      - name: full_reports
        in: query
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A list of events on the project.
          headers:
            Link:
              schema:
                type: string
              example: <https://api.bugsnag.com/projects/515fb9337c1074f6fd000003/events?offset=590bce131f7314d98eac23ba&sort=timestamp>; rel="next"
            X-Total-Count:
              schema:
                type: integer
              example: 123
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ElasticSearchEventApiView'
        '404':
          description: Error could not be found. Check the supplied error_id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Error not found
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/errors/{error_id}/trends:
    get:
      tags:
      - Errors
      summary: List the Trends for an Error
      operationId: getBucketedAndUnbucketedTrendsOnError
      description: Counts for an Error in a given time range, suitable for drawing histograms. Will return a maximum of 50 buckets (when using `buckets_count`) or 2000 data points (when using `resolution`).
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the Project
      - name: error_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the error
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
        description: Search filters to restrict the events reported in the trend
      - name: buckets_count
        in: query
        required: false
        schema:
          type: number
        description: Number of buckets to group trend data into (max 50)
      - name: resolution
        in: query
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 2h
          - 12h
        description: The trend data will be grouped so that each bucket spans the given time period
      responses:
        '200':
          description: Trend data for the error (bucketed or unbucketed).
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/Trend1'
                  - $ref: '#/components/schemas/Trend2'
        '400':
          description: '- Returned when the number of data points required to respond to the request would exceed the maximum.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Buckets count must be between 1 and 50
                - Too many data points requested. Please use a narrower time range or lower resolution.
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/trends:
    get:
      tags:
      - Errors
      summary: List the Trends for a Project
      operationId: getBucketedAndUnbucketedTrendsOnProject
      description: Counts for a Project in a given time range, suitable for drawing histograms. Will return a maximum of 50 buckets (when using `buckets_count`) or 2000 data points (when using `resolution`).
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the project
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
        description: Search filters to restrict the events reported in the trend
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
      - name: buckets_count
        in: query
        required: false
        schema:
          type: number
        description: Number of buckets to group trend data into (max 50)
      - name: resolution
        in: query
        required: false
        schema:
          type: string
          enum:
          - 1m
          - 5m
          - 30m
          - 2h
          - 12h
        description: The trend data will be grouped so that each bucket spans the given time period
      responses:
        '200':
          description: Trend data for the project (bucketed or unbucketed).
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                  - $ref: '#/components/schemas/Trend1'
                  - $ref: '#/components/schemas/Trend2'
        '400':
          description: '- Returned when the number of data points required to respond to the request would exceed the maximum.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Buckets count must be between 1 and 50
                - Too many data points requested. Please use a narrower time range or lower resolution.
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/errors/{error_id}/pivots:
    get:
      tags:
      - Errors
      summary: List Pivots on an Error
      operationId: listPivotsOnAnError
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 337515fb9c1074f6fd000001
      - name: error_id
        in: path
        required: true
        schema:
          type: string
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
      - name: summary_size
        in: query
        required: false
        schema:
          type: number
        example: 10
      - name: pivots
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 30
      responses:
        '200':
          description: A list of pivots on the error.
          headers:
            Link:
              schema:
                type: string
                example: <https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/?offset=2017-04-12T22:50:04Z>; rel="next"
            X-Total-Count:
              schema:
                type: integer
                example: 123
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PivotApiView'
        '400':
          description: Request validation error. See `errors` for specific details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - summary_size must be a number
        '404':
          description: '- Error could not be found. Check the supplied `error_id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Error not found
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/errors/{error_id}/pivots/{event_field_display_id}/values:
    get:
      tags:
      - Errors
      summary: List values of a Pivot on an Error
      operationId: getPivotValuesOnAnError
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        example: 337515fb9c1074f6fd000001
      - name: error_id
        in: path
        required: true
        schema:
          type: string
      - name: event_field_display_id
        in: path
        required: true
        schema:
          type: string
        example: app.release_stage
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
          description: The operator to use when joining filter groups together.
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - unsorted
        example: unsorted
      - name: base
        in: query
        required: false
        schema:
          type: string
          format: date-time
        example: '2017-04-12T22:50:04Z'
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 30
      responses:
        '200':
          description: A list of pivot values on the error.
          headers:
            Link:
              schema:
                type: string
                example: <https://api.bugsnag.com/projects/337515fb9c1074f6fd000001/errors/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04Z>; rel="next"
            X-Total-Count:
              schema:
                type: integer
                example: 123
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PivotValueApiView'
        '404':
          description: '- Error could not be found. Check the supplied `error_id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Error not found
        '422':
          description: 'The number of sorted results that can be obtained from this endpoint is limited. By default, results are sorted by descending Event occurrences. If you receive this error, you may still obtain complete results by setting the "sort" parameter to "unsorted".

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  code:
                    type: integer
              example:
                errors:
                - Unable to return complete results
                code: 60000
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /projects/{project_id}/pivots/{event_field_display_id}/values:
    get:
      tags:
      - Errors
      summary: List values of a Pivot on a Project
      operationId: getPivotValuesOnAProject
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
      - name: event_field_display_id
        in: path
        required: true
        schema:
          type: string
        example: app.release_stage
      - name: filters
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/Filters'
      - name: filter_groups
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
      - name: filter_groups_join
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/FilterGroupsJoinOperator'
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - unsorted
        example: unsorted
      - name: base
        in: query
        required: false
        schema:
          type: string
          format: date-time
        example: '2017-04-12T22:50:04Z'
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 30
      responses:
        '200':
          description: A list of pivot values on the project.
          headers:
            Link:
              schema:
                type: string
                example: <https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/pivots/release.stage/values?offset=2017-04-12T22:50:04>; rel="next"
            X-Total-Count:
              schema:
                type: integer
                example: 123
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PivotValueApiView'
        '404':
          description: '- Project could not be found. Check the supplied `project_id`.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Project not found
        '422':
          description: 'The number of sorted results that can be obtained from this endpoint is limited. By default, results are sorted by descending Event occurrences. If you receive this error, you may still obtain complete results by setting the "sort" parameter to "unsorted".

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                  code:
                    type: integer
              example:
                errors:
                - Unable to return complete results
                code: 60000
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
  /comments/{comment_id}:
    patch:
      tags:
      - Errors
      summary: Update a Comment
      operationId: updateComment
      description: Requires user authentication as only the author is able to update their comments.
      parameters:
      - name: comment_id
        in: path
        description: ID of the comment
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000001
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: The updated content of the Comment
                  example: Updated comment
              required:
              - message
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentApiView'
        '403':
          description: Only comment owner can edit their comments
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Only comment owner can edit their comments
    delete:
      tags:
      - Errors
      summary: Delete a Comment
      operationId: deleteComment
      parameters:
      - name: comment_id
        in: path
        description: ID of the comment
        required: true
        schema:
          type: string
        example: 515fb9337c1074f6fd000001
      responses:
        '204':
          description: ''
        '403':
          description: Only the comment owner or an Organization Administrator can delete a comment
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Only the comment owner or an Organization Administrator can delete a comment
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
components:
  schemas:
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    ErrorUpdate:
      type: object
      description: Request body for updating an error's status or severity.
      properties:
        status:
          type: string
          enum:
          - open
          - fixed
          - snoozed
          - ignored
          description: The new status for the error.
        severity:
          type: string
          enum:
          - error
          - warning
          - info
          description: The new severity level for the error.
        assigned_collaborator_id:
          type: string
          description: The ID of the collaborator to assign to this error.
    ErrorItem:
      type: object
      description: Represents a grouped error in Bugsnag, which aggregates multiple individual events with the same error class and message.
      properties:
        id:
          type: string
          description: The unique identifier of the error.
        project_id:
          type: string
          description: The identifier of the project this error belongs to.
        error_class:
          type: string
          description: The class or type of the error (e.g., TypeError, NullPointerException).
        message:
          type: string
          description: The error message associated with this error group.
        context:
          type: string
          description: The context in which the error occurred (e.g., controller#action).
        severity:
          type: string
          enum:
          - error
          - warning
          - info
          description: The severity level of the error.
        status:
          type: string
          enum:
          - open
          - fixed
          - snoozed
          - ignored
          description: The current status of the error.
        events:
          type: integer
          description: The total number of events for this error.
        users:
          type: integer
          description: The total number of unique users affected by this error.
        first_seen:
          type: string
          format: date-time
          description: The date and time the error was first seen.
        last_seen:
          type: string
          format: date-time
          description: The date and time the error was last seen.
        first_seen_unfiltered:
          type: string
          format: date-time
          description: The unfiltered first seen date and time.
        release_stages:
          type: array
          items:
            type: string
          description: The release stages in which this error has been seen.
        created_at:
          type: string
          format: date-time
          description: The date and time the error record was created.
        events_url:
          type: string
          format: uri
          description: The API URL to list events for this error.
        html_url:
          type: string
          format: uri
          description: The URL to the error on the Bugsnag dashboard.
        url:
          type: string
          format: uri
          description: The API URL for this error resource.
        comment_count:
          type: integer
          description: The number of comments on this error.
        missing_dsyms:
          type: array
          items:
            type: string
          description: List of missing debug symbol UUIDs for symbolication.
        overrides:
          type: object
          description: Override settings applied to this error.
        assigned_collaborator_id:
          type: string
          description: The ID of the collaborator assigned to this error.
    PivotApiView:
      type: object
      required:
      - event_field_display_id
      - name
      properties:
        event_field_display_id:
          type: string
          description: the ID of the Event Field that this Pivot describes
          example: app.release_stage
        name:
          type: string
          example: Release Stages
        cardinality:
          type: number
          description: how many unique values of the given Event Field are present in the Events matching the provided Filters. For example, in the case of the `app.release_stage` Pivot, if the Events matching the provided Filters occurred only in production and staging, then the cardinality would be 2.  Applicable to some Event Fields.
          example: 2
        summary:
          description: A summary of the top values for this Pivot. Applicable to some Event Fields.
        list:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                description: A particular value for the given Event Field
                example: production
              events:
                type: number
                description: The number of Events that matched the provided Filters that had this value for the given Event Field
                example: 34
          description: A list of the values of the Event Field which have had the most occurrences. The data in this list along with the `no_value` and `other` properties will account for all of the occurrences of the Event that match the Filters.
        no_value:
          type: number
          description: The number of Events that matched the provided Filters that had no value for the given Event Field
          example: 0
        other:
          type: number
          description: The number of Events that matched the provided Filters that had a value for the given Event Field other than those described in `list`
          example: 0
        average:
          type:
          - number
          - 'null'
          description: The average value for the given Event Field. Applicable to some Event Fields. This will be null if there is no average value (if there are no values to be averaged).
          example: 1000
    _Breadcrumb:
      type: object
      required:
      - name
      - type
      - timestamp
      properties:
        name:
          type: string
          description: A short summary describing the event, such as the user action taken or a new application state.
          example: Open menu
        type:
          type: string
          enum:
          - navigation
          - request
          - process
          - log
          - user
          - state
          - error
          - manual
          description: 'A category which describes the breadcrumb, from the list of allowed values.

            - `navigation` - Changing screens or content being displayed, with a defined destination and optionally a previous location.

            - `request` - Sending and receiving requests and responses.

            - `process` - Performing an intensive task or query.

            - `log` - Messages and severity sent to a logging platform.

            - `user` - Actions performed by the user, like text input, button presses, or confirming/cancelling an alert dialog.

            - `state` - Changing the overall state of an app, such as closing, pausing, or being moved to the background, as well as device state changes like memory or battery warnings and network connectivity changes.

            - `error` - An error which was reported to Bugsnag encountered in the same session.

            - `manual` - User-defined, manually added breadcrumbs.

            '
        timestamp:
          type: string
          format: date-time
          description: The time at which the event occurred, in [ISO 8601 format](https://tools.ietf.org/html/rfc3339#section-5.8).
          example: '2016-07-19T12:17:27.000Z'
        metaData:
          type: object
          description: An object containing extra information about a breadcrumb
    _EventApp:
      type: object
      properties:
        id:
          type: string
          description: A unique ID for the application.
          example: com.bugsnag.android.example.debug
        version:
          type: string
          description: The version number of the application which generated the error.
          example: 1.1.3
        versionCode:
          type: number
          description: The [version code](https://developer.android.com/studio/publish/versioning.html) of the application (Android only)
          example: 12
        bundleVersion:
          type: string
          description: The [bundle version/build number](https://developer.apple.com/library/content/technotes/tn2420/_index.html) of the application (iOS/macOS/tvOS only)
          example: 1.0.2
        codeBundleId:
          type: string
          description: A unique identifier to identify a code bundle release when using tools like CodePush (mobile only).
          example: 1.0-1234
        buildUUID:
          type: string
          description: A build ID that is required to identify a specific build when the version and version code are the same.
          example: BE5BA3D0-971C-4418-9ECF-E2D1ABCB66BE
        releaseStage:
          type: string
          description: The release stage that this error occurred in, for example "development", "staging" or "production".
          default: production
          example: staging
        type:
          type: string
          description: The application type, such as a web framework or mobile platform, for example "rails" or "android".
          example: rails
        dsymUUIDs:
          type: array
          items:
            type: string
          description: The UUIDs of the [debug symbols file](http://lldb.llvm.org/symbols.html) corresponding to this application, if any.
          example:
          - e6173678256785afd940392abee
        duration:
          type: number
          description: How long the app has been running for in milliseconds.
          example: 1275
        durationInForeground:
          type: number
          description: How long the app has been in the foreground of the device in milliseconds.
          example: 983
        inForeground:
          type: boolean
          description: Whether or not the app was in the foreground when the error occurred.
          example: true
        isLaunching:
          type: boolean
          description: Whether or not the application was still in the process of launching when the event was created.
          example: false
        binaryArch:
          type: string
          enum:
          - x86
          - x86_64
          - arm32
          - arm64
          - amd64
          description: 'The architecture of the running binary (Android only).

            - `x86` - x86/i386 (32-bit).

            - `x86_64` - x86 (64-bit).

            - `arm32` - armeabi/armeabi-v7a (32-bit).

            - `arm64` - arm64-v8a (64-bit).

            - `amd64` - amd64 (64-bit).

            '
          example: x86_64
        runningOnRosetta:
          type: boolean
          description: Whether or not the application was running through Rosetta (iOS only).
          example: true
    ErrorUpdateReopenRules:
      type: object
      properties:
        reopen_if:
          type: string
          enum:
          - occurs_after
          - n_occurrences_in_m_hours
          - n_additional_occurrences
          - n_additional_users
          description: 'Must be one of the following:

            - `occurs_after` - Indicates that the error should be reopened if there are any occurrences after the specified time period. In this case, the `seconds` field must also be provided.

            - `n_occurrences_in_m_hours` - Indicates that the Error should be reopened after n occurrences over some period of hours. In this case, the `occurrences` and `hours` fields will both be present.

            - `n_additional_occurrences` - Indicates that the Error should be reopened after n more occurrences. In this case, the `additional_occurrences` field indicates the number of additional occurrences that were allowed before reopening. Cannot be set if more than 10,000 existing users are already affected by an error.

            - `n_additional_users` - Reopen the error after `n` more users are affected. In this case, the `additional_users` field must be provided.

            '
        additional_users:
          type: number
          description: for `n_additional_users` reopen rules, the number of additional users to be affected by an Error before the Error is automatically reopened. Value cannot exceed 100,000.
        seconds:
          type: number
          minimum: 1
          description: for `occurs_after` reopen rules, the number of seconds that the Error should be snoozed for. Minimum 1 second.
        occurrences:
          type: number
          description: for `n_occurrences_in_m_hours` reopen rules, the number of occurrences to allow in the number of hours indicated by the `hours` field, before the Error is automatically reopened.
        hours:
          type: number
          description: for `n_occurrences_in_m_hours` reopen rules, the number of hours.
        additional_occurrences:
          type: number
          description: for `n_additional_occurrences` reopen rules, the number of additional occurrences allowed before reopening.
      required:
      - reopen_if
    _EventException:
      type: object
      properties:
        errorClass:
          type: string
          example: NoMethodError
        message:
          type: string
          example: undefined method `foo` for nil:NilClass
        type:
          type: string
          description: The type of the exception. `null` if not recorded.
          example: browserjs
        stacktrace:
          type: array
          description: An array of stack trace objects. Each object represents one line in the exception's stack trace. Bugsnag uses this information to help with error grouping, as well as displaying it to the user.
          items:
            $ref: '#/components/schemas/_EventExceptionStacktrace'
        registers:
          type: array
          description: An array of register details for minidump stackframes.
          items:
            $ref: '#/components/schemas/_EventExceptionRegister'
    FilterGroupJoinOperator:
      type: string
      enum:
      - and
      - or
      description: 'The join operator to apply between filters within a group.

        - and (default) - All conditions must be satisfied

        - or - At least one condition must be satisfied

        '
    Trend2:
      type: object
      properties:
        from:
          type: string
          example: '2017-04-04T10:43:49Z'
        to:
          type: string
          example: '2017-04-04T22:43:49Z'
        events_count:
          type: number
          example: 1
      required:
      - from
      - to
      - events_count
    FilterGroupsJoinOperator:
      type: string
      enum:
      - and
      - or
      description: 'The join operator to apply between filter groups.

        - and - All conditions must be satisfied

        - or (default) - At least one condition must be satisfied

        '
    ErrorUpdateRequest:
      allOf:
      - $ref: '#/components/schemas/ErrorBase'
      - type: object
        properties:
          operation:
            type: string
            enum:
            - override_severity
            - assign
            - create_issue
            - link_issue
            - unlink_issue
            - open
            - snooze
            - fix
            - ignore
            - delete
            - discard
            - undiscard
            description: "The type of update operation to perform. The can be used to change the Error's workflow state (e.g. marking the Error as `fixed`). It must be one of the following: * `override_severity`\n  Set the Error's severity to the newly supplied `severity` parameter.\n* `assign`\n  Assign the Error to the Collaborator specified by the `assigned_collaborator_id` parameter. The error will be unassigned if `assigned_collaborator_id` is blank, the identified Collaborator has not accepted their invitation, or they do not have access to the Error's Project.\n* `create_issue`\n  Create an issue for the Error. If the `issue_title` parameter is set, the new issue will be created with this title.\n* `link_issue`\n  Link the Error to an existing issue. The url should be provided in the `issue_url` parameter. `verify_issue_url` can be set to control whether Bugsnag should attempt to verify the issue URL with any configured issue tracker integration. This is the default behavior if `verify_issue_url` is not supplied.\n* `unlink_issue`\n  Remove the link between the Error and its current linked issue. \n* `open`\n  Set the Error's status to open.\n* `snooze`\n  Snooze the error per the `reopen_rules` parameter.\n* `fix`\n  Set the Error's status to fixed.\n* `ignore`\n  Ignore the Error. Errors that are ignored and can only be reopened manually. Events are collected, but no notifications are sent.\n* `delete`\n  Delete the Error. The Error and all related Events will be removed from Bugsnag. If the error occurs again, it will appear as a new Error with status `Open`.\n* `discard`\n  Discard future Events for this Error. The Error and all existing Events will remain in Bugsnag, but future occurrences of the Error will not be stored by Bugsnag or count toward Event usage limits.\n* `undiscard`\n  Undiscard the Error. Future Events will be stored for this Error. This undoes the `discard` option.\n"
          assigned_collaborator_id:
            type: string
            example: 515fb9337c1074f6fd000002
            description: "The Collaborator to assign to the Error. Errors may be assigned only to users who have accepted their Bugsnag invitation and have access to the project. \n"
          assigned_team_id:
            type: string
            example: 515fb9337c1074f6fd000003
            description: The Team to assign to the Error. Mutually exclusive with `assigned_collaborator_id`.
          issue_url:
            type: string
            description: "Specifies the HTTP link to an external issue when adding or updating a link. \n"
          verify_issue_url:
            type: boolean
            description: 'Setting `false` will prevent Bugsnag from attempting to verify the `issue_url` with the configured issue tracker when linking an issue. Defaults to `true` if the parameter is not supplied. If no configured issue tracker the parameter is ignored.

              '
          issue_title:
            type: string
            description: If the Error has a `created_issue`, the `issue_title` request field can be set to update the issue's title.
          notification_id:
            type: string
            example: 337515fb9c1074f6fd000001
            description: "ID of the issue tracker to use for `create_issue` and `link_issue` operations. The most recent issue tracker is used if the parameter is omitted, and no issue tracker is used even if `notification_id` is set for `link_issue` operations if `verify_issue_url` is `false`. \n"
          reopen_rules:
            $ref: '#/components/schemas/ErrorUpdateReopenRules'
            description: Snooze rules for automatically reopening the Error
          severity:
            $ref: '#/components/schemas/SeverityOptions'
            description: The Error's new severity. This will be reflected in the Error's `overridden_severity` property. This is only applicable if the `override_severity` option is provided.
        required:
        - operation
    CommentApiView:
      type: object
      properties:
        id:
          type: string
          example: 515fb9337c1074f6fd000007
        created_at:
          type: string
          example: '2017-03-02T05:55:55.555Z'
          description: The time the Comment was created.
        updated_at:
          type: string
          example: '2017-08-10T06:66:66.666Z'
          description: The time the Comment was updated.
        message:
          type: string
          description: the comment body itself
        url:
          type: string
          example: https://api.bugsnag.com/comments/515fb9337c1074f6fd000007
          description: a permalink to the Comment.
        collaborator:
          $ref: '#/components/schemas/User'
          description: the Collaborator who made the comment
      required:
      - id
    Filters:
      type: object
      properties:
        user.id:
          type: array
          description: An array of user ids. Matches Errors affecting any of these users. This refers to user ids in the context of your application. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: User ID
                example: 515fb9337c1074f6fd000002
            required:
            - type
            - value
        user.email:
          type: array
          description: An array of email addresses. Matches Errors that have affected users with email addresses matching any of the provided emails. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: User email
                example: john.doe@example.com
            required:
            - type
            - value
        user.name:
          type: array
          description: An array of user names. Matches Errors that have affected users with names matching any of the provided names. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: User name
                example: John Doe
            required:
            - type
            - value
        error.id:
          type: array
          description: An array of error ids. Matches errors with IDs matching any of the given error IDs. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Error ID
                example: 337515fb9c1074f6fd000001
            required:
            - type
            - value
        error.status:
          type: array
          description: An array of error statuses. Matches Errors that have any of the given statuses. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                $ref: '#/components/schemas/ErrorStatus'
                description: Error status
            required:
            - type
            - value
        error.assigned_to:
          type: array
          description: 'An array of collaborator identifiers. Matches Errors that have been assigned to any of the given collaborators. Exact match only.


            Values can be `me` (for errors assigned to the current user), `anyone` (for errors assigned to anyone), a collaborator ID, or an email address.

            '
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Collaborator ID
                example: 515fb9337c1074f6fd000002
            required:
            - type
            - value
        error.has_issue:
          type: boolean
          description: If set to true, matches Errors that have had an issue created for them. If set to false, matches Errors that have not had an issue created for them.
        app.release_stage:
          type: array
          description: An array of release stages. Matches Errors that have occurred in any of the given release stages. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Release stage
                example: production
            required:
            - type
            - value
        app.context:
          type: array
          description: An array of application contexts. This refers to the action that was happening when the event occurred. Matches Errors that occurred in any of the given contexts. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Application context
                example: users#show
            required:
            - type
            - value
        app.type:
          type: array
          description: An array of application types. Matches Errors that occurred in any of the given application types. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Application type
                example: sidekiq
            required:
            - type
            - value
        version.introduced_in:
          type: array
          description: An array of application versions. Matches Errors that occurred for the first time in any of the given versions. Supports the `?` and `*` wildcards.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Application version
                example: 1.?.1
            required:
            - type
            - value
        version.seen_in:
          type: array
          description: An array of application versions. Matches Errors that occurred in any of the given versions. Supports the `?` and `*` wildcards.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Application version
                example: 2.*
            required:
            - type
            - value
        version_code.introduced_in:
          type: array
          description: An array of version codes. Matches Errors that occurred for the first time in a version of the application identified by any of the given versions codes. The value of an Error's versionCode depends on the corresponding Project's type. In Android apps this will match the versionCode setting. In iOS apps, versionCode is taken from the Build Number setting. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Version code
                example: '123'
            required:
            - type
            - value
        version_code.seen_in:
          type: array
          description: An array of version codes. Matches Errors that occurred in a version of the application identified by any of the given versions codes. The value of an Error's versionCode depends on the corresponding Project's type. In Android apps this will match the versionCode setting. In iOS apps, versionCode is taken from the Build Number setting. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Version code
                example: '123'
            required:
            - type
            - value
        release.introduced_in:
          type: array
          description: An array of Release `build_label`s, `app_version`s, `app_version_code`s, or `app_bundle_version`s. Matches Errors that occurred for the first time in any of the given Releases. Supports the `?` and `*` wildcards.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Release identifier
                example: '123'
            required:
            - type
            - value
        release.seen_in:
          type: array
          description: An array of Release `build_label`s, `app_version`s, `app_version_code`s, or `app_bundle_version`s. Matches Errors that occurred in any of the given Releases. Supports the `?` and `*` wildcards.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Release identifier
                example: '123'
            required:
            - type
            - value
        feature_flag.seen_in:
          type: array
          description: An array of feature flag and variant names. When type is `eq`, matches errors that have been seen with these feature flags (any variant), or the specific variant if specified. When type is `ne`, matches errors that have not been seen with these feature flags or variants. The feature flag name should be specified in the `value` field, and the variant name (optional) should be specified in the `child_value` field.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Feature flag name
                example: button color
              child_value:
                type: string
                description: Feature flag variant
                example: blue
            required:
            - type
            - value
        feature_flag.exclusive_to:
          type: array
          description: An array of feature flag and variant names. When type is `eq`, matches errors that have only been seen with one of these feature flags (any variant), or one of the specific variants if specified. When type is `ne`, matches errors that have been seen with these feature flags or variants but are NOT exclusive to them (i.e., they have also been seen with other feature flags or variants). The feature flag name should be specified in the `value` field, and the variant name (optional) should be specified in the `child_value` field.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Feature flag name
                example: button color
              child_value:
                type: string
                description: Feature flag variant
                example: blue
            required:
            - type
            - value
        event.class:
          type: array
          description: An array of classes. Matches Errors with any of the given classes. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Event class
                example: NoMethodError
            required:
            - type
            - value
        event.message:
          type: array
          description: An array of messages. Matches Errors with any of the given messages. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Event message
                example: redis
            required:
            - type
            - value
        event.file:
          type: array
          description: An array of file paths. Matches Errors with any of the given files in their stack traces'. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: File path
                example: app/controllers/users_controller.rb
            required:
            - type
            - value
        event.method:
          type: array
          description: An array of method names. Matches Errors with any of the given methods in their stack traces'. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Method name
                example: process_payment
            required:
            - type
            - value
        event.severity:
          type: array
          description: An array of severities. Matches Errors with any of the given severities. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                $ref: '#/components/schemas/SeverityOptions'
                description: Error severity
            required:
            - type
            - value
        event.since:
          type: array
          description: An array containing a single timestamp. Matches Errors with events occurring after the given time. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Timestamp
                example: '2017-04-18T22:12:00.000Z'
            required:
            - type
            - value
        event.before:
          type: array
          description: An array containing a single timestamp. Matches Errors with events occurring before the given time. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Timestamp
                example: '2017-04-18T22:12:00.000Z'
            required:
            - type
            - value
        browser.name:
          type: array
          description: An array containing web browser names. Matches Errors with events originating from any of the given web browsers. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                enum:
                - Chrome
                - Firefox
                - Safari
                - Opera
                description: Browser name
            required:
            - type
            - value
        browser.version:
          type: array
          description: An array containing web browser versions. Matches Errors with events originating from any browser with the given version. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Browser version
                example: '70.0'
            required:
            - type
            - value
        os.name:
          type: array
          description: An array containing operating system names. Matches Errors with events originating from devices running any of the given operating systems. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Operating system name
                example: Android
            required:
            - type
            - value
        os.version:
          type: array
          description: An array containing operating system versions. Matches Errors with events originating from devices running any of the given operating system versions. Supports the `?` and `*` wildcards.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Operating system version
                example: 1.2.3
            required:
            - type
            - value
        device.hostname:
          type: array
          description: An array containing hostnames. Matches Errors with events occurring on any hosts with one of the given hostnames. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Device hostname
                example: staging1
            required:
            - type
            - value
        device.manufacturer:
          type: array
          description: An array containing device manufacturer names. Matches Errors with events occurring on any devices made by the given manufacturers. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Device manufacturer
                example: Google
            required:
            - type
            - value
        device.model:
          type: array
          description: An array containing device model names. Matches Errors with events occurring on any of the given device models. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Device model
                example: Pixel 3
            required:
            - type
            - value
        request.url:
          type: array
          description: An array of URLs. Matches Errors with events associated with requests to any of the given URLs. Supports substring matches.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Request URL
                example: https://api.example.com/users
            required:
            - type
            - value
        request.ip:
          type: array
          description: An array of IP addresses. Matches Errors with events affecting any of the given IPs. Exact match only.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: IP address
                example: 192.168.5.6
            required:
            - type
            - value
        device.jailbroken:
          type: array
          description: An array containing a boolean. If `true`, matches Errors with events occurring on jailbroken devices.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Jailbroken status
                example: 'true'
            required:
            - type
            - value
        app.in_foreground:
          type: array
          description: An array containing a boolean. If `true`, matches Errors with events occurring when the application was in the foreground.
          items:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/FilterMatchType'
                description: The match type
              value:
                type: string
                description: Foreground status
                example: 'true'
            required:
            - type
            - value
    SeverityOptions:
      type: string
      enum:
      - info
      - warning
      - error
      description: '- info - can be used in manual Bugsnag.notify calls

        - warning - the default severity when Bugsnag.notify is called manually

        - error - the default severity for uncaught exceptions and crashes

        '
    _EventExceptionStacktrace:
      type: object
      properties:
        line_number:
          type: number
          description: The line of the file that this frame of the stack was in.
          example: 1234
        column_number:
          type: string
          description: The column of the file that this frame of the stack was in.
        file:
          type: string
          description: The file that this stack frame was executing
          example: controllers/users_controller.rb
        in_project:
          type: boolean
          description: Indicates if this stack trace line is in the project's application code (true) or form a 3rd party library (false).
          example: true
        code_file:
          type: string
          description: Path of the code file for the module referenced.
          example: filename.xyz
        address_offset:
          type: string
          description: Offset of the frame's return address from the base of the line, function, or module in a minidump.
          example: '0x5'
        macho_uuid:
          type: string
        relative_address:
          type: string
          description: Offset of the frame's return address from the base of the line, function, or module.
          example: '0x5'
        frame_address:
          type: string
          description: The frame's return address from the base of the line, function, or module in a minidump.
          example: '0x5'
        method:
          type: string
          description: The method that this particular stack frame is within.
          example: set_user_id
        source_control_link:
          type: string
          description: A link to the affected line of code in source control.
        source_control_name:
          type: string
          description: The name of the source control service being used.
          example: github
        inlined:
          type: boolean
          description: Indicates if this is an inlined function
          example: true
        code:
          type: object
          description: The code in the file surrounding this line, with up to three lines on either side of the line that crashed.
          example:
            '1231': '  def a'
            '1232': ''
            '1233': '    if problem?'
            '1234': '      raise ''something went wrong'''
            '1235': '    end'
            '1236': ''
            '1237': '  end'
    AdvancedFiltersFilterGroups:
      type: object
      description: "A map of filter groups, where each group is keyed with a unique identifier for the group e.g:\n```\n{\n \"0\": { ... },\n \"1\": { ... }\n}\n```\nSee the [Advanced Filters documentation](https://developer.smartbear.com/bugsnag/docs/data-access-filtering#advanced-filters) for more details.\n"
      additionalProperties:
        $ref: '#/components/schemas/AdvancedFiltersFilterGroup'
    ErrorBase:
      type: object
      properties:
        severity:
          $ref: '#/components/schemas/SeverityOptions'
          description: The severity of the Error
    AdvancedFiltersFilterGroup:
      type: object
      description: "A group with filters (Event Fields) joined by the specified join operator. Each Event Field is a key in the object, and\neach value is an array of hashes specifying the match type and value to filter by. E.g:\n```\n{\n  join: \"and\",\n  \"event.class\": {\n    type: \"eq\",\n    value: \"RuntimeError\"\n  },\n  \"app.release_stage\": {\n    type: \"eq\",\n    value: \"production\"\n  }\n}\n```\n"
      properties:
        join:
          $ref: '#/components/schemas/FilterGroupJoinOperator'
          description: The operator to use when joining filters within this group
        AdditionalProperties:
          $ref: '#/components/schemas/Filters'
    _EventExceptionRegisterValue:
      type: object
      properties:
        register_name:
          type: string
          description: The name of the register
          example: reg
        register_value:
          type: string
          description: The value of the register
          example: '0x1012d41a40dd145f'
    PivotValueApiView:
      type: object
      required:
      - event_field_value
      properties:
        event_field_value:
          type: string
          description: One of the values for this event field. For example, for the release stage event field, the values will be the stage names; for versions they will be the version number; for users they will be the user IDs, and so on.
          example: production
        events:
          type: number
          description: The number of Events matching the given Filters that affected this particular value of the pivot. For example, how many events occurred in the production release stage.
          example: 23
        proportion:
          type: number
          description: the proportion of the total Events matching the Filters represented by this value.
          example: 0.9981631153563556
        first_seen:
          type: string
          description: the first Event occurrence with this particular value and matching the Filters (including time filters)
          example: '2017-04-14T03:04:49+00:00'
        last_seen:
          type: string
          description: the last Event occurrence with this particular value and matching the Filters (including time filters)
          example: '2017-04-21T02:50:35+00:00'
        fields:
          type: array
          description: some pivot values will include additional event field values. for example, in the case of a pivot value describing how many events affected a particular user, fields will contain the values of the `user.name` and `user.email` event fields, to provide more details about the user.
          items:
            type: object
            properties:
              id:
                type: string
                example: user.name
              name:
                type: string
                example: User Name
    EventApiView:
      type: object
      properties:
        id:
          type: string
          example: 595301a6ae48dd0018aedd61
        url:
          type: string
          example: https://api.bugsnag.com/projects/74f6fd000001515fb9337c/events/515fb9337c1074f6fd000765
          description: The URL for the event
        project_url:
          type: string
          example: https://api.bugsnag.com/projects/74f6fd000001515fb9337c10
        is_full_report:
          type: boolean
          example: false
        error_id:
          type: string
          description: The Error this Event is an occurrence of
          example: 515fb9337c1074f6fd000001
        received_at:
          type: string
          description: The time the [Error Reporting API](https://developer.smartbear.com/bugsnag/docs/reporting-events-and-sessions/) was notified of this Event
          example: '2017-04-19T09:16:50.000Z'
        exceptions:
          type: array
          description: An array of exceptions that occurred during this event. Most of the time there will only be one exception, but some languages support "nested" or "caused by" exceptions. The first item in the array represents the outermost exception. Each subsequent item represents the exception that caused the preceding one.
          items:
            $ref: '#/components/schemas/_EventException'
        threads:
          type: array
          description: An array of the threads running when this event was reported.
          items:
            $ref: '#/components/schemas/_EventThread'
        metaData:
          type: object
          description: Custom metadata passed with the event manually or via the notifier library. The API preserves the original casing and key format as received.
        request:
          $ref: '#/components/schemas/_EventRequest'
        app:
          $ref: '#/components/schemas/_EventApp'
          description: Information about the application that reported the event.
        device:
          $ref: '#/components/schemas/_EventDevice'
          description: Information about the device the error occurred on.
        user:
          $ref: '#/components/schemas/_EventUser'
          description: Information about the user that reported the event. This field can be sent in with extra metadata, and thus may return keys alongside those documented here.
        breadcrumbs:
          type: array
          description: An array of user- and system-initiated events which led up to an error, providing additional context. This list is sequential and ordered newest to oldest.
          items:
            $ref: '#/components/schemas/_Breadcrumb'
        context:
          type: string
          description: This refers to the action that was happening when the event occurred.
          example: users#show
        severity:
          $ref: '#/components/schemas/SeverityOptions'
        unhandled:
          type: boolean
          description: Whether or not the event was from an unhandled exception.
          example: true
        missing_dsym:
          type: boolean
          description: Whether or not there's a missing dSYM (only included in response if event includes a dsym_uuid).
        correlation:
          $ref: '#/components/schemas/_EventCorrelation'
          description: Information about the trace and span linked to the event.
        feature_flags:
          type: array
          items:
            $ref: '#/components/schemas/_FeatureFlagSummary'
          description: Feature flags and variants that were active when the event occurred.
    User:
      type: object
      properties:
        id:
          type: string
          example: 515fb9337c1074f6fd000007
        name:
          type: string
          example: James Smith
        email:
          type: string
          example: james@example.com
        two_factor_enabled:
          type: boolean
          example: true
        two_factor_enabled_on:
          type: string
          example: '2017-04-04T22:43:49Z'
        recovery_codes_remaining:
          type: number
          example: 2
          description: The number of two factor recovery codes the User has left.
        password_updated_on:
          type: string
          example: '2017-04-04T22:43:49Z'
          description: The time the User's password was last changed.
        show_time_in_utc:
          type: boolean
          example: true
          description: Whether the user has opted to have times displayed in UTC instead of local time.
        heroku:
          type: boolean
          example: false
        created_at:
          type: string
          example: '2018-02-01T22:31:26.696Z'
          description: when the user was created
        favorite_project_ids:
          type: array
          items:
            type: string
          example:
          - 5e3bf879d1befa00093b8638
          description: list of IDs of the User's favorite projects
        managed_by_smartbear_id:
          type: boolean
          example: true
          description: Whether the user is managed by SmartBear ID
      required:
      - id
      - email
      - two_factor_enabled
      - show_time_in_utc
      - heroku
      - created_at
      - managed_by_smartbear_id
    _CoreFrameFields:
      type: object
      properties:
        lineNumber:
          type: number
          description: The line of the file that this frame of the stack was in.
          example: 1234
        columnNumber:
          type: string
          description: The column of the file that this frame of the stack was in.
        file:
          type: string
          description: The file that this stack frame was executing
          example: controllers/users_controller.rb
        inProject:
          type: boolean
          description: Indicates if this stack trace line is in the project's application code (true) or form a 3rd party library (false).
          example: true
        codeFile:
          type: string
          description: Path of the code file for the module referenced.
          example: filename.xyz
        addressOffset:
          type: string
          description: Offset of the frame's return address from the base of the line, function, or module in a minidump.
          example: '0x5'
        relativeAddress:
          type: string
          description: Offset of the frame's return address from the base of the line, function, or module.
          example: '0x5'
        frameAddress:
          type: string
          description: the frame's return address from the base of the line, function, or module in a minidump.
          example: '0x5'
        method:
          type: string
          description: The method that this particular stack frame is within.
          example: set_user_id
        type:
          type: string
          description: The type of the stackframe. This may be different for each stackframe, for example when the error occurs in native extension of a scripting language.
          example: reactnativejs
        source_control_link:
          type: string
          description: A link to the affected line of code in source control.
        source_control_name:
          type: string
          description: The name of the source control service being used.
          example: github
        inlined:
          type: boolean
          description: Indicates if this is an inlined function
          example: true
        code:
          type: object
          description: The code in the file surrounding this line, with up to three lines on either side of the line that crashed.
          example:
            '1231': '  def a'
            '1232': ''
            '1233': '    if problem?'
            '1234': '      raise ''something went wrong'''
            '1235': '    end'
            '1236': ''
            '1237': '  end'
    _FeatureFlagSummary:
      type: object
      properties:
        feature_flag_name:
          type: string
          description: The name of the feature_flag.
          example: share_ios_photo_sharing_button
        feature_flag_id:
          type: string
          description: The ID of the feature_flag.
          example: 5f688f55d1befa016c94de00
        variant_name:
          type: string
          description: The name of the variant if present.
          example: blue_button
        variant_id:
          type: string
          description: The ID of the variant if present.
          example: 173c8f55d1befa016c94df1c
    Trend1:
      type: object
      properties:
        from:
          type: string
          example: '2017-04-03T22:43:49Z'
        to:
          type: string
          example: '2017-04-04T10:43:49Z'
        events_count:
          type: number
          example: 0
      required:
      - from
      - to
      - events_count
    FilterMatchType:
      type: string
      enum:
      - eq
      - ne
      description: '- eq - Filter for items that "match" (exact match or substring match depending on the field) the value

        - ne - Filter for items that don''t match the value

        '
    _EventRequest:
      type: object
      properties:
        url:
          type: string
          description: The URL the request was made to
          example: http://example.com/users/19/settings
        clientIp:
          type: string
          description: The IP making the request
          example: 192.168.44.0
        httpMethod:
          type: string
          description: The HTTP method used for the request
          example: PUT
        referer:
          type: string
          description: The URL referring the user
          example: http://example.com?q=awesome
        headers:
          type: object
          description: Hash of headers sent with the request
        params:
          type: object
          description: Hash of parameter sent with the request
    ErrorStatus:
      type: string
      enum:
      - open
      - in progress
      - for_review
      - fixed
      - snoozed
      - ignored
    _EventThread:
      type: object
      properties:
        id:
          type: number
          description: The id of the thread in the application.
          example: 1
        name:
          type: string
          description: A human readable name for the thread.
          example: main
        type:
          type: string
          description: The type of the thread
          example: ruby
        stacktrace:
          type: array
          description: An array of stack trace objects. Each object represents one line in the exception's stack trace. Bugsnag uses this information to help with error grouping, as well as displaying it to the user.
          items:
            $ref: '#/components/schemas/_CoreFrameFields'
        error_reporting_thread:
          type: boolean
          description: Indicates if this is the thread from which the error was reported.
          example: true
        state:
          type: string
          description: The state of the thread
          example: TH_STATE_RUNNING
    ErrorReopenRules:
      type: object
      properties:
        reopen_if:
          type: string
          enum:
          - n_additional_occurrences
          - n_occurrences_in_m_hours
          - occurs_after
          - n_additional_users
          description: 'Must be one of the following:

            - `n_additional_occurrences` - Indicates that the Error should be reopened after n more occurrences. In this case, the `occurrence_threshold` field indicates the number of total occurrences at which the Error should be reopened, and the `additional_occurrences` field indicates the number of additional occurrences that were allowed before reopening.

            - `n_occurrences_in_m_hours` - Indicates that the Error should be reopened after n occurrences over some configurable number of hours. In this case, the `occurrences` and `hours` fields will both be present.

            - `occurs_after` - Indicates that the error should be reopened if there are any occurrences after the specified time period. The `seconds` field contains the number of seconds that the Error has been snoozed for. In this case, the `seconds` and `reopen_after` fields will both be present.

            - `n_additional_users` - Reopen the error after `n` more users are affected. In this case, the `additional_users` field must be provided.

            '
        additional_users:
          type: number
          description: for `n_additional_users` reopen rules, the number of additional users to be affected by an Error before the Error is automatically reopened. Value cannot exceed 100,000.
        reopen_after:
          type: string
          description: for `occurs_after` reopen rules, this field indicates the time after which the Error should be reopened if there is an additional occurrence.
        seconds:
          type: number
          description: for `occurs_after` reopen rules, the number of seconds that the Error was set to snooze for.
        occurrences:
          type: number
          description: for `n_occurrences_in_m_hours` reopen rules, the number of occurrences to allow in the number of hours indicated by the `hours` field, before the Error is automatically reopened.
        hours:
          type: number
          description: for `n_occurrences_in_m_hours` reopen rules, the number of hours.
        occurrence_threshold:
          type: number
          description: for `n_additional_occurrences` reopen rules, the number of total occurrences at which the Error should be reopened.
        additional_occurrences:
          type: number
          description: for `n_additional_occurrences` reopen rules, the number of additional occurrences allowed before reopening.
      required:
      - reopen_if
    _EventCorrelation:
      type: object
      properties:
        traceId:
          type: string
          description: The ID of the OTel trace during which this event occurred
          example: 6368f07a518fa064ce036bdb
        spanId:
          type: string
          description: The ID of the OTel span during which this event occurred
          example: 6368f07a518fa064ce036bdb
    _EventDevice:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for the device.
          example: fd124e87760c4281aef
        hostname:
          type: string
          description: The hostname of the server running your code, if applicable.
          example: web1.internal
        manufacturer:
          type: string
          description: The manufacturer of the device.
          example: LGE
        model:
          type: string
          description: The model of the device.
          example: Nexus 6P
        modelNumber:
          type: string
          description: The model number of the device.
          example: '600'
        osName:
          type: string
[...]
