openapi: 3.2.0
info:
  title: Bugsnag Organizations API
  version: '1.0'
  description: 'Operations tagged Organizations across 2 of this provider''s published API definitions: bugsnag-data-access-openapi.yml, bugsnag-organizations-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
- description: For organizations with projects on app.bugsnag.smartbear.com
  url: https://api.bugsnag.smartbear.com
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
security:
- tokenAuth: []
tags:
- name: Organizations
  description: Access and manage organizations. An organization is the top-level entity in Bugsnag that contains projects and collaborators.
paths:
  /user/organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: Returns a list of organizations that the currently authenticated user belongs to. Results are paginated using the Link header.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /organizations/{organization_id}:
    get:
      operationId: getOrganization
      summary: Get an organization
      description: Returns the details of a specific organization, including its name, slug, billing email, and creation date.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    servers:
    - url: https://api.bugsnag.com
      description: Bugsnag Production API Server
  /organizations:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Create an Organization
      operationId: createOrganization
      description: Creates a new Bugsnag organization and adds the current user to it as an admin. Requires user authentication as the initial user of the organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the company or organization to create
                  example: Acme Co.
              required:
              - name
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiView'
        '400':
          description: The request was bad. Check the errors supplied in the response. Examples > - Heroku users and saml-authenticated users cannot create an organization
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Cannot create upstream billing organization
                  - SAML users cannot create organization
  /organizations/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: View an Organization
      operationId: getOrganizationById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the organization
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiView'
        '404':
          $ref: '#/components/responses/organization_not_found'
    patch:
      tags:
      - Organizations
      summary: Update an Organization
      operationId: updateOrganizationById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the organization
        example: 515fb9337c1074f6fd000001
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiView'
        '400':
          description: '- This Organization type cannot be updated via the API. Example: Heroku organizations.

            - Organization does not have access to a required feature for the parameter being updated.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - cannot update upstream billing organization
                  - Default project event cap unavailable on plan
        '403':
          $ref: '#/components/responses/insufficient_organization_role'
        '404':
          $ref: '#/components/responses/organization_not_found'
    delete:
      tags:
      - Organizations
      summary: Delete an Organization
      operationId: deleteOrganization
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      responses:
        '204':
          description: Organization deleted
        '400':
          description: This Organization cannot be deleted via the API. (e.g. Heroku organizations)
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - cannot delete upstream billing organization
        '403':
          $ref: '#/components/responses/insufficient_organization_role'
        '404':
          $ref: '#/components/responses/organization_not_found'
  /organizations/{id}/api_key:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    delete:
      tags:
      - Organizations
      summary: Regenerate an Organization's API key
      operationId: revokeOrganizationApiKey
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiView'
        '403':
          $ref: '#/components/responses/insufficient_organization_role'
        '404':
          $ref: '#/components/responses/organization_not_found'
  /organizations/{id}/auth_token:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    delete:
      tags:
      - Organizations
      summary: Regenerate an Organization's auth token
      operationId: revokeOrganizationAuthToken
      description: Deprecated. Use user-level authentication tokens instead.\nGenerate a new data access API auth token for the organization. This token allows you to read data from and write data to Bugsnag relating to your Organization, Projects, Errors, etc. After regenerating the auth token, the prior data access API auth token will no longer be supported. Note that this key is different from the project-level notifier API key that you use to identify a project to Bugsnag when you report errors.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationApiView'
        '403':
          $ref: '#/components/responses/insufficient_organization_role'
        '404':
          $ref: '#/components/responses/organization_not_found'
  /organizations/{organization_id}/collaborators/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Show a Collaborator on an Organization
      operationId: getOrganizationCollaborator
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator
      responses:
        '200':
          description: Collaborator details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization Administrator role required
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
                  - User not found
    patch:
      tags:
      - Organizations
      summary: Update a Collaborator's permissions
      operationId: updateOrganizationCollaborator
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of your organization
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_ids:
                  type: array
                  items:
                    type: string
                  description: The ids of projects in the current organization that the invited user should have access to.
                project_roles:
                  type: object
                  additionalProperties:
                    type: string
                  description: The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'.
                admin:
                  type: boolean
                  description: Whether to give admin permissions to the user.
      responses:
        '200':
          description: Collaborator updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorApiView'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Cannot update upstream billing collaborator
        '403':
          description: You do not have permission to update collaborators or invalid project_roles/project_ids.
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    errors:
                      type: array
                      items:
                        type: string
                  example:
                    errors:
                    - Organization Administrator role required
                - type: object
                  properties:
                    errors:
                      type: array
                      items:
                        type: string
                  example:
                    errors:
                    - Project member roles are not enabled for the current plan
                - type: object
                  properties:
                    errors:
                      type: array
                      items:
                        type: string
                  example:
                    errors:
                    - project_roles cannot be specified at the same time as project_ids
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
                  - User not found
    delete:
      tags:
      - Organizations
      summary: Delete a Collaborator
      operationId: deleteOrganizationCollaborator
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of your organization
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator to update
      responses:
        '204':
          description: Collaborator deleted
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Cannot remove last admin
        '403':
          description: You do not have permission to update collaborators.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization Administrator role required
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
                  - User not found
  /organizations/{organization_id}/collaborators/bulk_invite:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Bulk invite collaborators to your organization
      operationId: bulkInviteOrganizationCollaborators
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of your organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                emails:
                  type: array
                  items:
                    type: string
                  description: A list of emails to invite
                project_ids:
                  type: array
                  items:
                    type: string
                  description: The ids of projects in the current organization that the invited user should have access to. Leave blank if the admin field is set to true. Admins have access to all projects. Only one of project_roles and project_ids may be supplied.
                project_roles:
                  type: object
                  additionalProperties:
                    type: string
                  description: The IDs of the projects to which the user should have access, and the roles they should have, either 'project_owner' or 'project_member'. Leave blank if the admin field is set to true. Admins have access to all projects. Only one of project_roles and project_ids may be supplied. This field may only be supplied if the enterprise-roles feature is enabled for the account.
                admin:
                  type: boolean
                  description: Whether to give admin permissions to the invited user(s).
              required:
              - emails
      responses:
        '200':
          description: Collaborators invited
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollaboratorApiView'
        '400':
          description: The request was invalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Cannot add collaborators to SAML organization
                  - Bulk operation does not support 'name' parameter
                  - Too many invitations, please try again later.
        '403':
          description: '- You do not have permission to invite additional collaborators. It may be

            because your plan is at its seat limit and you need to upgrade your plan to

            add more collaborators, or you are not an admin on the Organization.

            - The `project_roles` parameter was supplied but your organization''s plan does not have this feature.

            - Both the `project_roles` and `project_ids` parameters were supplied.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - You have reached your plan's collaborator limit of 30
                - Organization Administrator role required
                - Project member roles are not enabled for the current plan
                - project_roles cannot be specified at the same time as project_ids
        '404':
          description: An organization with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
  /projects/{project_id}/collaborators:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Collaborators on a Project
      operationId: listProjectCollaborators
      description: List all collaborators that have access to a project.
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the project
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: Number of results per page
      responses:
        '200':
          description: A list of collaborators that have access to a project.
          headers:
            Link:
              schema:
                type: string
                example: <https://api.bugsnag.com/projects/515fb9337c1074f6fd000001/collaborators?offset=517c41f07c1074aee9000002>; rel="next"
            X-Total-Count:
              schema:
                type: integer
                example: 34
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollaboratorApiView'
        '404':
          description: A project with the ID you provided could not be found, or you do not have access to the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Project not found
  /projects/{project_id}/collaborators/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Show a collaborator in a project
      operationId: getProjectCollaborator
      description: Show a collaborator in a project. Requires requesting user to have access to the given project.
      parameters:
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the project
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator
      responses:
        '200':
          description: Collaborator details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorApiView'
        '404':
          description: Not Found- - A project with the ID you provided could not be found, or you do not have access. - A collaborator with the ID you provided could not be found, or they do not have access to the project.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Project not found
                  - User not found
  /organizations/{organization_id}/collaborators/project_access_counts:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: View the project count of a collaborator
      operationId: getOrganizationCollaboratorProjectAccessCounts
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
      - name: collaborator_ids
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
        description: IDs of collaborators to view the project count of
      responses:
        '200':
          description: A list of project access counts for the collaborators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectAccessCountsApiView'
        '403':
          description: The collaborator ids must be in an array format
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Collaborator_ids must be an array
        '404':
          description: Not Found - - You do not have permission to view this data. You must be an admin of the organization. - A collaborator was not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization Administrator role required
                  - Collaborator not found
  /organizations/{organization_id}/collaborators/{collaborator_id}/projects:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: View Projects a Collaborator has access to
      operationId: getOrganizationCollaboratorProjects
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the organization
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the user
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: Search projects with names matching parameter
      - name: sort
        in: query
        required: false
        schema:
          type: string
          enum:
          - created_at
          default: created_at
        description: Which field to sort the results by
      - name: direction
        in: query
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
        description: Which direction to sort the results by
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: How many results to return per page
      responses:
        '200':
          description: A list of projects the collaborator has access to.
          headers:
            Link:
              schema:
                type: string
                example: <https://api.bugsnag.com/organizations/515fb9337c1074f6fd000001/collaborators/515fb9337c74f6fd00000100/projects?offset=517c41f07c1074aee9000002>; rel="next"
            X-Total-Count:
              schema:
                type: integer
                example: 123
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectApiView'
        '403':
          description: You do not have permission to view a collaborator's project access. You need to be an admin on the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization Administrator role required
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
                  - User not found
  /organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List project accesses for a collaborator
      operationId: listOrganizationCollaboratorProjectAccesses
      description: List all projects a collaborator has access to within an organization.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the organization
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the collaborator
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        description: Number of results per page
      responses:
        '200':
          description: A list of project accesses for the collaborator
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectAccessApiView'
        '404':
          description: An organization or collaborator with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Organization not found
                  - User not found
  /organizations/{organization_id}/collaborators/{collaborator_id}/project_accesses/{project_id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Show a Collaborator's Access Details for a Project
      operationId: getOrganizationCollaboratorProjectAccessById
      description: Return the details of a collaborator's access to a project.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the organization.
      - name: collaborator_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the collaborator.
      - name: project_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the project.
      responses:
        '200':
          description: Details of the collaborator's access to the project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorProjectAccessApiView'
        '404':
          description: An organization, collaborator or project with the ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Project not found
  /organizations/{organization_id}/collaborators/{id}/team_memberships:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Add a collaborator to a group of Teams
      operationId: addOrganizationCollaboratorTeamMemberships
      description: Add a collaborator to a list of teams, or all a collaborator to all the teams in this organization.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the organization.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the collaborator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamMembershipRequest'
      responses:
        '200':
          description: Collaborator added to teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorApiView'
        '403':
          description: Forbidden - - You must provide a `team_ids` parameter when `add_all_teams` is false. - Your `team_ids` parameter must be in an array format. - You do not have permission to add a collaborator to teams. You must be an admin on the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Team_ids must be supplied when add_all_teams is set to false
                  - Team_ids must be an array
                  - User should be organization admin
        '404':
          description: Not Found - - The collaborator you're accessing is not part of this organization - A team ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
                example:
                  errors:
                  - Collaborator not found
                  - Team not found
    delete:
      tags:
      - Organizations
      summary: Remove a Collaborator from a group of Teams
      operationId: deleteOrganizationCollaboratorTeamMemberships
      description: 'Remove a collaborator from a group of teams.

        The request body for this operation should be documented here: The request body would have matched the TeamIDRequest schema, but DELETE operations cannot have a request body in OpenAPI3. Example:

        {

        "team_ids": ["team_id_1", "team_id_2"]

        }'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the organization.
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the collaborator.
      responses:
        '200':
          description: Collaborator removed from teams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaboratorApiView'
        '403':
          $ref: '#/components/responses/insufficient_organization_role'
        '404':
          description: Not Found - - The collaborator could not be found, or is not part of the organization - A team ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Collaborator not found
                - Team not found
  /organizations/{organization_id}/teams:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Teams from a query
      operationId: listOrganizationTeams
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full team name to filter the results by.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: Token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
    post:
      tags:
      - Organizations
      summary: Create a Team
      operationId: createOrganizationTeam
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamApiView'
        '400':
          description: The team name is not unique for the organization or the name is too long.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Team name is more than 200 characters
                - A team called Team co already exists for this organization
        '403':
          description: You do not have permission to view this data. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: A team with the ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Team not found
  /organizations/{organization_id}/teams/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Show the details of a team
      operationId: getOrganizationTeam
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: A team with the ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Team not found
    patch:
      tags:
      - Organizations
      summary: Update a team name
      operationId: updateOrganizationTeam
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team to be deleted
        example: 515fb9337c1074f6fd000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdateRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamApiView'
        '400':
          description: There is an issue with the new name. It may be too long or not unique.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Team name is blank
                - Team name is more than 200 characters
                - A team called Team co already exists for this organization
        '403':
          description: You do not have permission to view this data. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: A team with the ID you provided could not be found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Team not found
    delete:
      tags:
      - Organizations
      summary: Delete a team
      operationId: deleteOrganizationTeam
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team to be deleted
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: OK
        '403':
          description: You do not have permission to view this data. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: An organization with the ID you've provided or a team with the ID you've provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
  /organizations/{organization_id}/teams/{id}/suggested_collaborators:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Suggested Collaborators to Add to a Team
      operationId: listOrganizationTeamSuggestedCollaborators
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full user name or email to filter the results by.
      - name: include_has_access
        in: query
        required: false
        schema:
          type: boolean
        description: Request all collaborators in the organization, including those that are not members of the team. By default only collaborators who are not members of the team will be returned.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuggestedTeamCollaboratorApiView'
        '404':
          description: An organization with the ID you provided or a team with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
  /organizations/{organization_id}/collaborators/{id}/teams:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Teams for a Collaborator
      operationId: listOrganizationCollaboratorTeams
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full team name to filter the results by
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamApiView'
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - User not found
  /organizations/{organization_id}/collaborators/{id}/suggested_teams:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Suggested Teams for a Collaborator
      operationId: listOrganizationCollaboratorSuggestedTeams
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the collaborator
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full team name to filter the results by
      - name: include_is_member
        in: query
        required: false
        schema:
          type: boolean
        description: Request all teams in the organization, including those that the collaborator is already on. By default only teams the collaborator is not a member of will be returned
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamSuggestionApiView'
        '404':
          description: An organization with the ID you provided or a user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - User not found
  /organizations/{organization_id}/teams/{id}/collaborators:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List the Collaborators in a Team
      operationId: listOrganizationTeamCollaborators
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full user name or email to filter the results by.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CollaboratorApiView'
        '404':
          description: An organization with the ID you provided or a team with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
  /organizations/{organization_id}/teams/{id}/team_memberships:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Add Collaborators to a Team
      operationId: addOrganizationTeamMemberships
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamMembershipsAddUsersRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You do not have permission to add collaborators to a team. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: An organization, team or user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
                - User not found
    delete:
      tags:
      - Organizations
      summary: Remove Collaborators from a Team
      operationId: deleteOrganizationTeamMemberships
      description: 'Request body requires a CollaboratorsRequest object with the following properties:

        - user_ids: array of user IDs to remove from the team'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: An organization, team or user with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
                - User not found
  /organizations/{organization_id}/teams/{id}/project_accesses:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Project Access for a Team
      operationId: listOrganizationTeamProjectAccesses
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full project name to filter the results by.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: A token for pagination
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamProjectAccessApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: An organization with the ID you provided or a team with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
    patch:
      tags:
      - Organizations
      summary: Add Project Access to a Team
      operationId: updateOrganizationTeamProjectAccesses
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamProjectAccessesUpdate'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the Organization or a project owner, or you are trying to set the project role to a role not supported for your organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
                - Insufficient Project Role for performing requested action
                - Enterprise roles are not enabled on this account
        '404':
          description: An organization, team, or project with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
                - Project not found
    delete:
      tags:
      - Organizations
      summary: Remove Project Access from a Team
      operationId: deleteOrganizationTeamProjectAccesses
      description: 'Request body requires a TeamProjectAccessesDelete object with the following properties:

        - project_ids: array of project IDs to remove access from'
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamApiView'
        '403':
          description: You must be an admin of the Organization or a project owner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Insufficient Project Role for performing requested action
        '404':
          description: An organization, team, or project with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
                - Project not found
  /organizations/{organization_id}/teams/{id}/suggested_projects:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Suggest Projects to Add to a Team
      operationId: listOrganizationTeamSuggestedProjects
      description: Suggest a list of projects from the organization that the team could be given access to.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: ID of the organization
        example: 515fb9337c1074f6fd000001
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: the ID of the team
        example: 515fb9337c1074f6fd000001
      - name: include_has_access
        in: query
        required: false
        schema:
          type: boolean
        description: should projects the team already has access to be included?
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: A partial or full project name to filter the results by.
      - name: per_page
        in: query
        required: false
        schema:
          type: number
          default: 30
        example: 10
      - name: offset
        in: query
        required: false
        schema:
          type: string
        description: token to retrieve next page of results
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TeamProjectSuggestionApiView'
        '403':
          description: You do not have permission to view this data. You must be an admin of the Organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization Administrator role required
        '404':
          description: An organization with the ID you provided or a team with the ID you provided could not be found
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: string
              example:
                errors:
                - Organization not found
                - Team not found
  /organizations/{organization_id}/event_data_requests:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Create an event data request
      operationId: organizationEventDataRequests
      description: 'Request event data for the given organization. This request will start an asynchronous job to collate all event data present at the time of the request and return a URL where you can download the data when the job is complete. These endpoints are intended for bulk download of events. If you want to query events, use the Events APIs instead.

        User data will not be included in the bulk download unless the request''s `report_type` attribute is set to `gdpr`. With the `report_type` set to `gdpr` Bugsnag will only return user-related metadata.'
      parameters:
      - name: organization_id
        in: path
        description: ID of the organization to request events for
        required: true
        schema:
          type: string
        example: 5bf5b201468ce95aa753a35f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                report_type:
                  $ref: '#/components/schemas/EventDataRequestReportType'
                  description: the type of report to request; omit this if you want all event fields
                filters:
                  $ref: '#/components/schemas/Filters'
                  description: 'The filters used to determine which events will be included in the report. See [Filtering](https://developer.smartbear.com/bugsnag/docs/data-access-filtering) for details.

                    '
                filter_groups:
                  $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
                filter_groups_join:
                  $ref: '#/components/schemas/FilterGroupsJoinOperator'
                  description: The operator to use when joining filter groups together.
              required:
              - filters
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataRequestApiView'
  /organizations/{organization_id}/event_data_requests/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Check the status of an event data request
      operationId: organizationEventDataRequestsById
      parameters:
      - name: organization_id
        in: path
        description: ID of the organization of the event data request
        required: true
        schema:
          type: string
        example: 5bf5b201468ce95aa753a35f
      - name: id
        in: path
        description: ID of the event data request
        required: true
        schema:
          type: string
        example: 5bf5bde1468ce95b0a6724e8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataRequestApiView'
  /organizations/{organization_id}/event_data_deletions:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Create an event deletion request
      operationId: organizationEventDataDeletions
      description: Creates a request to asynchronously delete events for the organization. Note that filters such as `user.email` and `user.name` use substring matching, so using the `user.id` filter will be more appropriate for deleting events for 1 specific user.
      parameters:
      - name: organization_id
        in: path
        description: ID of the organization to delete events from
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                skip_confirmation:
                  type: boolean
                  description: whether to skip requiring another request to confirm the deletion
                  default: false
                filters:
                  $ref: '#/components/schemas/Filters'
                  description: 'The filters used to determine which events will be deleted. See [Filtering](https://developer.smartbear.com/bugsnag/docs/data-access-filtering) for details. Note that filters with an empty string value and filters that don''t apply to a project (e.g. using a custom filter from one project on another project that doesn''t have that custom filter) will be skipped. Before proceeding with an event data deletion request, it''s recommended to verify the [project''s event fields](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Projects/listProjectEventFields) and test your filters using the [List the Events on an Error](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Errors/listEventsOnError) or [Create an event data request](https://developer.smartbear.com/bugsnag/docs/bugsnag-data-access-api/Organizations/createOrganizationEventDataRequest) API.

                    '
                filter_groups:
                  $ref: '#/components/schemas/AdvancedFiltersFilterGroups'
                filter_groups_join:
                  $ref: '#/components/schemas/FilterGroupsJoinOperator'
                  description: The operator to use when joining filter groups together.
              required:
              - filters
      responses:
        '201':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /organizations/{organization_id}/event_data_deletions/{id}/confirm:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    post:
      tags:
      - Organizations
      summary: Confirm an event deletion request
      operationId: organizationEventDataDeletionsConfirm
      parameters:
      - name: organization_id
        in: path
        description: ID of the organization of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      - name: id
        in: path
        description: ID of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c5ee468ce95db8170d15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /organizations/{organization_id}/event_data_deletions/{id}:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: Check the status of an event deletion request
      operationId: organizationEventDataDeletionsById
      parameters:
      - name: organization_id
        in: path
        description: ID of the organization of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c369468ce95b0a6734c9
      - name: id
        in: path
        description: ID of the deletion request
        required: true
        schema:
          type: string
        example: 5bf5c5ee468ce95db8170d15
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataDeletionApiView'
  /organizations/{organization_id}/traces/{trace_id}/spans:
    servers:
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear-public/bugsnag-data-access-api/2
    - description: For organizations with projects on app.bugsnag.com
      url: https://api.bugsnag.com
    - description: For organizations with projects on app.bugsnag.smartbear.com
      url: https://api.bugsnag.smartbear.com
    - description: SwaggerHub API Auto Mocking
      url: https://virtserver.swaggerhub.com/smartbear/bugsnag-data-access-api/2
    get:
      tags:
      - Organizations
      summary: List Spans for a Trace
      operationId: listOrganizationSpans
      description: Returns the spans for a trace at an organizational level. Access to this endpoint is restricted on the distributed traces view permission.
      parameters:
      - name: organization_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Organization to which the spans belong.
        example: 6368f07a518fa064ce036bdb
      - name: trace_id
        in: path
        required: true
        schema:
          type: string
        description: The ID of the Trace to which the spans belong.
        example: 6368f07a518fa064ce036bdb
      - name: from
        in: query
        required: true
        schema:
          type: string
        description: Beginning of window to return spans from.
        example: '2023-04-11T13:14:25.123Z'
      - name: to
        in: query
        required: true
        schema:
          type: string
        description: End of window to return spans from.
        example: '2023-04-11T13:14:26.123Z'
      - name: target_span_id
        in: query
        required: false
        schema:
          type: string
        description: The ID of a Span within the Trace to focus on. If provided the target Span and its direct children will be returned ahead of other Spans in the Trace.
        example: 6368f07a518fa064ce036bdb
      - name: per_page
        in: query
        required: false
        schema:
          type: number
        description: The number of results to return per page. Defaults to 20.
        example: 20
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Span'
        '404':
          $ref: '#/components/responses/organization_not_found'
components:
  parameters:
    OrganizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      description: The number of results to return per page. Used for pagination.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
  schemas:
    User:
      type: object
      description: Represents an authenticated Bugsnag user account.
      properties:
        id:
          type: string
          description: The unique identifier of the user.
        name:
          type: string
          description: The full name of the user.
        email:
          type: string
          format: email
          description: The email address associated with the user account.
        gravatar_url:
          type: string
          format: uri
          description: The Gravatar URL for the user's profile image.
        html_url:
          type: string
          format: uri
          description: The URL to the user's Bugsnag dashboard profile.
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    Organization:
      type: object
      description: Represents a Bugsnag organization, the top-level entity containing projects and collaborators.
      properties:
        id:
          type: string
          description: The unique identifier of the organization.
        name:
          type: string
          description: The name of the organization.
        slug:
          type: string
          description: The URL-friendly slug for the organization.
        creator:
          $ref: '#/components/schemas/User'
        billing_email:
          type: string
          format: email
          description: The billing email address for the organization.
        auto_upgrade:
          type: boolean
          description: Whether the organization automatically upgrades to new plans.
        created_at:
          type: string
          format: date-time
          description: The date and time the organization was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time the organization was last updated.
    TeamMembershipsAddUsersRequest:
      type: object
      properties:
        collaborator_ids:
          type: array
          items:
            type: string
          description: Collaborators to add to the team.
        add_all_collaborators:
          type: boolean
          description: Add all organization collaborators to the team. This should not be set if `collaborator_ids` is specified.
    SuggestedTeamCollaboratorApiView:
      type: object
      properties:
        id:
          type: string
          example: 515fb9337c1074f6fd000007
          description: The ID of the collaborator
        name:
          type: string
          example: James Smith
          description: The name of the collaborator
        email:
          type: string
          example: james@example.com
          description: The email of the collaborator
        has_access:
          type: boolean
          example: true
          description: Whether the user has access to the team already
      required:
      - id
      - name
      - email
      - has_access
    ProjectType:
      type: string
      enum:
      - android
      - angular
      - asgi
      - aspnet
      - aspnet_core
      - backbone
      - bottle
      - cocos2dx
      - connect
      - django
      - dotnet
      - dotnet_desktop
      - dotnet_mvc
      - electron
      - ember
      - eventmachine
      - expo
      - express
      - flask
      - flutter
      - gin
      - go
      - go_net_http
      - heroku
      - ios
      - java
      - java_desktop
      - js
      - vega
      - koa
      - laravel
      - lumen
      - magento
      - martini
      - minidump
      - ndk
      - negroni
      - nintendo_switch
      - node
      - osx
      - other_desktop
      - other_mobile
      - other_tv
      - php
      - python
      - rack
      - rails
      - react
      - reactnative
      - restify
      - revel
      - ruby
      - silex
      - sinatra
      - spring
      - symfony
      - tornado
      - tvos
      - unity
      - unrealengine
      - vue
      - watchos
      - webapi
      - wordpress
      - wpf
      - wsgi
      - other
      description: used for Projects that use a framework other than those listed above
    ProjectAccessCountsApiView:
      type: object
      properties:
        collaborator_id:
          type: string
          example: 515fb9337c1074f6fd000001
        project_count:
          type: number
          example: 10
          description: The number of projects the user has access to.
        is_admin:
          type: boolean
          example: true
          description: Whether the collaborator is an admin on the account.
      required:
      - collaborator_id
      - project_count
      - is_admin
    CollaboratorProjectAccessApiView:
      type: object
      properties:
        project_summary:
          $ref: '#/components/schemas/ProjectAccessSummary'
          description: Details of the project.
        team_count:
          type: number
          example: 5
          description: The number of teams the collaborator belongs to that have access to the project.
        is_admin:
          type: boolean
          example: true
          description: Indicates if the collaborator is an administrator for the organization.
        project_role:
          type: string
          example: project_owner
          description: The overall role that the Collaborator has on the Project (based on the individual and Team roles). This will be the most permissive of the individual and Team roles. One of "project_owner", "project_member".
        individual_project_role:
          type: string
          example: project_owner
          description: The role that the Collaborator has on the Project as an individual (ignoring any Team access). One of "project_owner", "project_member".
        team_project_role:
          type: string
          example: project_member
          description: The role that the Collaborator has on the Project from the Teams that they belong to. If the Collaborator belongs to multiple Teams this will be the most permissive role. One of "project_owner", "project_member"
      required:
      - is_admin
    AdvancedFiltersFilterGroup:
      type: object
      description: "A group with filters (Event Fields) joined by the specified join operator. Each Event Field is a key in the object, and\neach value is an array of hashes specifying the match type and value to filter by. E.g:\n```\n{\n  join: \"and\",\n  \"event.class\": {\n    type: \"eq\",\n    value: \"RuntimeError\"\n  },\n  \"app.release_stage\": {\n    type: \"eq\",\n    value: \"production\"\n  }\n}\n```\n"
      properties:
        join:
          $ref: '#/components/schemas/FilterGroupJoinOperator'
          description: The operator to use when joining filters within this group
        AdditionalProperties:
          $ref: '#/components/schemas/Filters'
    ProjectAccessSummary:
      type: object
      properties:
        id:
          type: string
          example: 611a24ff5d0d567c3cdee710
          description: The ID of the project.
        name:
          type: string
          example: Website Project
          description: The name of the project.
        type:
          type: string
          example: rails
          description: The type of the project.
        slug:
          type: string
          example: website
          description: The project's slug.
      required:
      - id
      - name
      - type
      - slug
    StabilityTarget:
      type: object
      required:
      - value
      properties:
        value:
          type: number
          example: 0.99
          description: The target value of the proportion of unhandled_sessions/total_sessions.
        updated_at:
          type:
          - string
          - 'null'
          example: '2017-03-02T05:55:55.555Z'
          description: (Updated automatically) The time the target was last updated.
        updated_by_id:
          type:
          - string
          - 'null'
          example: 515fb9337c1074f6fd000001
          description: (Updated automatically) The id of the collaborator that last updated the value.
    FilterGroupsJoinOperator:
      type: string
      enum:
      - and
      - or
      description: 'The join operator to apply between filter groups.

        - and - All conditions must be satisfied

        - or (default) - At least one condition must be satisfied

        '
    Span:
      type: object
      properties:
        id:
          type: string
          example: 6368f07a518fa064ce036bdb
          description: The ID of the span
        parent_span_id:
          type: string
          example: 6368f07a518fa064ce036bdb
          description: The ID of the parent span if applicable
        trace_id:
          type: string
          example: 6368f07a518fa064ce036bdb
          description: The ID of the trace
        category:
          type: string
          example: app_start
          description: The category of the span
        name:
          type: string
          example: My Span
          description: The name of the span
        display_name:
          type: string
          example: App Start - My Span
          description: The name of the span for display purposes
        duration:
          type: number
          example: 1000
          description: The duration of the span in milliseconds
[...]
