openapi: 3.2.0
info:
  title: Bugsnag Data Access Organizations API
  description: The Bugsnag Data Access API provides programmatic access to information about your organization, projects, errors, events, and more. It allows developers to build custom integrations and dashboards using their Bugsnag data. The REST API uses JSON and requires authentication via a personal auth token sent in the Authorization header. It supports querying error trends, project configurations, collaborators, and release information.
  version: '2.0'
  contact:
    name: Bugsnag Support
    url: https://docs.bugsnag.com/api/data-access/
  termsOfService: https://smartbear.com/terms-of-use/
servers:
- url: https://api.bugsnag.com
  description: Bugsnag Production API Server
security:
- tokenAuth: []
tags:
- name: Organizations
  description: Access and manage organizations. An organization is the top-level entity in Bugsnag that contains projects and collaborators.
paths:
  /user/organizations:
    get:
      operationId: listOrganizations
      summary: List organizations
      description: Returns a list of organizations that the currently authenticated user belongs to. Results are paginated using the Link header.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organizations/{organization_id}:
    get:
      operationId: getOrganization
      summary: Get an organization
      description: Returns the details of a specific organization, including its name, slug, billing email, and creation date.
      tags:
      - Organizations
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    User:
      type: object
      description: Represents an authenticated Bugsnag user account.
      properties:
        id:
          type: string
          description: The unique identifier of the user.
        name:
          type: string
          description: The full name of the user.
        email:
          type: string
          format: email
          description: The email address associated with the user account.
        gravatar_url:
          type: string
          format: uri
          description: The Gravatar URL for the user's profile image.
        html_url:
          type: string
          format: uri
          description: The URL to the user's Bugsnag dashboard profile.
    Error:
      type: object
      description: An API error response.
      properties:
        errors:
          type: array
          items:
            type: string
          description: List of error messages.
    Organization:
      type: object
      description: Represents a Bugsnag organization, the top-level entity containing projects and collaborators.
      properties:
        id:
          type: string
          description: The unique identifier of the organization.
        name:
          type: string
          description: The name of the organization.
        slug:
          type: string
          description: The URL-friendly slug for the organization.
        creator:
          $ref: '#/components/schemas/User'
        billing_email:
          type: string
          format: email
          description: The billing email address for the organization.
        auto_upgrade:
          type: boolean
          description: Whether the organization automatically upgrades to new plans.
        created_at:
          type: string
          format: date-time
          description: The date and time the organization was created.
        updated_at:
          type: string
          format: date-time
          description: The date and time the organization was last updated.
  parameters:
    OrganizationId:
      name: organization_id
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
    PerPage:
      name: per_page
      in: query
      description: The number of results to return per page. Used for pagination.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 30
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Personal auth token sent as "token YOUR-AUTH-TOKEN". The token can be found in the Bugsnag account settings under the API section.
externalDocs:
  description: Bugsnag Data Access API Documentation
  url: https://docs.bugsnag.com/api/data-access/
